<div class="row">
    <div class="col-md-3">
        <ol class="breadcrumb" style="width: 230px; background:#eee">
            <li><i class="glyphicon glyphicon-circle-arrow-left"></i> <a (click)="exit()">Volver</a></li>
            <li class="active">Datos solucion</li>
        </ol>


        <div class="datos-actividad">
            <h4>Titulo: {{actividad.titulo}}</h4>
            <ul>
                <li><i class="glyphicon glyphicon-user"></i> <label for="profesor"> Profesor: </label> <span>{{actividad.profesor}}</span></li>
                <li><i class="glyphicon glyphicon-signal"></i> <label for="nivel"> Nivel: </label> <span>{{actividad.nivel}}</span></li>
                <li><i class="glyphicon glyphicon-calendar"></i> <label for="creacion"> Creación: </label> <span>{{actividad.fecha_creacion | date: 'dd/MM/yy'}}</span></li>
                <li *ngIf="actividad.propuesta"><i class="glyphicon glyphicon-calendar"></i> <label for="hasta"> Hasta: </label> <span>{{actividad.fecha_prop_fin | date: 'dd/MM/yy'}}</span></li>
                <li ><i class="glyphicon glyphicon-pencil"></i> <label for="calificacion-total"> Calificacion Total: </label> <span>{{solucion.notaFinal}} sobre {{solucion.ejercicios.length}}</span></li>
            </ul>
            
        </div>

        <div class="enlaces-ejers">
            <ul>
                <li *ngFor="let ejer of actividad.ejercicios; let i=index" (click)="cambiaIndice(i)"><span>{{i}}#</span> {{ejer.titulo}}  <i *ngIf="i == indice" class="glyphicon glyphicon-hand-left"></i></li>
            </ul>
        </div>

    </div>

    <div *ngIf="actividad.ejercicios.length > 0" class="col-md-8 animated aparecer">

        <h2 class="text-center"><span>{{indice}}#</span> {{actividad.ejercicios[indice].titulo}}</h2>
        <div class="datos-solucion">
            <!--<ul class="enunciado">
                <li><label>Enunciado:</label> {{actividad.ejercicios[indice].enunciado}}</li>
                <li><label>Frase a traducir:</label> {{actividad.ejercicios[indice].fraseATraducir}}</li>
                <li><label>Respuesta:</label> {{solucion.ejercicios[indice].respuesta}}</li>
            </ul>-->
            <div class="enunciado">
                <p><label>Enunciado:</label> {{actividad.ejercicios[indice].enunciado}}</p>
                <p class="text-center"><label>Frase a traducir:</label> {{actividad.ejercicios[indice].fraseATraducir}}</p>
                <p class="text-right"><label>Respuesta:</label> {{solucion.ejercicios[indice].respuesta}}</p>
            </div>

            <ul class="notas-calificacion">
                <li><label>Calificacion del ejercicio:</label> <span *ngIf="!editarNota && solucion.ejercicios[indice].calificacion >= 0 " class="animated aparecer badge">{{solucion.ejercicios[indice].calificacion}}</span>
                    <input class="input-valorar animated aparecer" *ngIf="editarNota && user.role=='profesor'" type="number" name="valNota" #valNota="ngModel" [(ngModel)]="nota" min="0" max="1"/> 
                    <i class="animated aparecer" (click)="editaNota()" *ngIf="!editarNota && user.role=='profesor'" class="glyphicon glyphicon-pencil">editar</i> 
                    <i class="animated aparecer" (click)="guardarNota()" id="guardar-nota" *ngIf="editarNota && user.role=='profesor'" class="glyphicon glyphicon-ok">guardar</i>
                    <i class="animated aparecer" (click)="cancelarNota()" id="cancelar-nota" *ngIf="editarNota && user.role=='profesor'" class="glyphicon glyphicon-remove">cancelar</i>
                
                </li>
                
                <li><label>Mensage de la aplicacion:</label> {{solucion.ejercicios[indice].msgCalificacion}}</li>
            </ul>

            <div class="clearfix"></div>

            <div *ngIf="user.role == 'alumno' && solucion.ejercicios[indice].msgProfesor != ''" class="msgProfesor">
                <label for="anotacion">Anotación del profesor</label>
                <p>{{solucion.ejercicios[indice].msgProfesor}}</p>
            </div>

            <div *ngIf="user.role == 'alumno' && solucion.ejercicios[indice].msgProfesor == ''" class="msgProfesor">
                <p>Su profesor aún no ha escrito ningún comentario sobre su respuesta a este ejercicio</p>
            </div>

            <div *ngIf="user.role == 'profesor'" class="msgProfesor valorar-profesor">
                <div *ngIf="solucion.ejercicios[indice].msgProfesor != ''" class="editar" (click)="editarValoracion()">
                    <i class="glyphicon glyphicon-pencil">editar</i>
                </div>
                <p class="animated aparecer" (click)="escribirValoracion()" *ngIf="solucion.ejercicios[indice].msgProfesor == '' && !editarVal">Haz click para escribir una valoracion</p>
                <p class="animated aparecer" *ngIf="solucion.ejercicios[indice].msgProfesor != '' && !editarVal">{{solucion.ejercicios[indice].msgProfesor}}</p>
                
                <textarea autofocus class="input-valorar" *ngIf="editarVal" type="text" name="val" #val="ngModel" [(ngModel)]="valoracion">
                </textarea>

                <button *ngIf="editarVal" class="btn btn-valorar" (click)="guardarValoracion()">Guardar</button>
                <button *ngIf="editarVal" class="btn btn-cancel-val" (click)="cancelValoracion()">Cancelar</button> 
                <div class="clearfix"></div>
            </div>
            

        </div>


    </div>



</div>

