
	<cabecera-profesor></cabecera-profesor>
	
	
<div class="row">

	 <div class="col-md-9">
        <ol class="breadcrumb" style="width: 300px">
            <li><i class="glyphicon glyphicon-home"></i> <a routerLink="/profesor">Panel principal</a></li>
            <li class="active">Crear ejercicio</li>
        </ol>
    </div>
</div>

<div class="row">
	<div class="col-md-12 add-ejercicio-tit">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>Nuevo ejercicio</h3>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 add-formulario-ejercicio">
		<form #formEjercicio="ngForm" (ngSubmit)="onSubmit()" class="form-add-ejer animated aparecer">

			<div class="row">
				<div class="col-md-3 col-md-offset-1">
					<input type="text" class="form-control" required  placeholder="Titulo..." name="titulo" #titulo="ngModel" [(ngModel)]="ejercicio.titulo">
					
					<div class="row" style="margin-top: 10px">
						<div class="col-md-6" >
							<label for="power">Nivel</label>
							<select class="form-control" id="nivel"
									required
									[(ngModel)]="ejercicio.nivel" name="nivel"
									#nivel="ngModel" >
							<option *ngFor="let niv of niveles" [value]="niv">{{niv}}</option>
							</select>
						</div>

						<!--<div class="col-md-6">
							<label for="power">Tipo</label>
							<select class="form-control" id="tipo"
									required
									[(ngModel)]="ejercicio.tipo" name="tipo"
									#tipo="ngModel" >
							<option *ngFor="let tip of tipos" [value]="tip">{{tip}}</option>
							</select>
							<div [hidden]="tipo.valid || tipo.pristine" class="alert alert-danger">
							Tipo requerido
							</div>
						</div>-->
					</div>

					<textarea style="margin-top: 25px" class="form-control" placeholder="Enunciado..." name="enunciado" #enunciado="ngModel" [(ngModel)]="ejercicio.enunciado" required> </textarea>
					
				</div>
			
			
				
				

				
				<div class="col-md-3">
					<!--<textarea (blur)="aplicaValoresLogicos()" [style.visibility]="(ejercicio.tipo > 1) ? 'hidden' : 'visible' "  class="form-control animated aparecer" placeholder="Frase a traducir..." name="fraseATraducir" #fraseATraducir="ngModel" [(ngModel)]="ejercicio.fraseATraducir"> -->
					<textarea (blur)="aplicaValoresLogicos()"  class="form-control animated aparecer" placeholder="Frase a traducir..." name="fraseATraducir" #fraseATraducir="ngModel" [(ngModel)]="ejercicio.fraseATraducir" required> 
					</textarea>

					<div class="row" style="margin-top: 10px">
						<div class="col-md-4">
							<label for="power">Tipo</label>
							<select class="form-control" id="tipoLogico" name="tipoLogic" [(ngModel)]="tipoLogico"
									#tipoLogic="ngModel" >
							<option value="Verbo">Verbo</option>
							<option value="Nominativo">Nominativo</option>
							<option value="Acusativo">Acusativo</option>
							</select>
						</div>

						<div class="col-md-6">
							<label for="power">Valor</label>
							<select class="form-control" id="valorLogico" name="valorLogic" [(ngModel)]="valorLogico"
									#valorLogic="ngModel" >
							<option *ngFor="let palabra of valoresLogico" [value]="palabra">{{palabra}}</option>
							</select>

							<!--<input type="text" class="form-control"  placeholder="" name="valorLogico" #titulo="ngModel" [(ngModel)]="valorLogico">-->
						</div>

						<div class="col-md-2" style="padding-top: 20px">
							<a class="btn btn-success" (click)="addFLogico()"><i class="glyphicon glyphicon-plus"></i></a>
						</div>
					</div>

					<textarea class="form-control" placeholder="Solución en formato lógico..." name="solucionFLogico" #solucionFLogico="ngModel" [(ngModel)]="ejercicio.solucionFLogico" required> </textarea>
				</div>
				
				<div class="col-md-3">
					<textarea style="margin-bottom: 20px;" class="form-control" placeholder="Frase lematizada..." name="fLematizada" #fLematizada="ngModel" [(ngModel)]="ejercicio.fraseLematizada" required> </textarea>
					
					<textarea (keypress)="addSeparator($event)" class="form-control" placeholder="Solución en formato patrón..." name="solucionFPatron" #solucionFPatron="ngModel" [(ngModel)]="ejercicio.solucionFPatron" required> </textarea>

					<!--<textarea *ngIf="ejercicio.tipo <= 1 " style="margin-top: 20px" class="form-control animated aparecer" placeholder="Solución posible en Español..." name="solucionPEspanol" #solucionPEspanol="ngModel" [(ngModel)]="ejercicio.solucionPEspanol"> </textarea>
					<textarea *ngIf="ejercicio.tipo > 1" style="margin-top: 20px" class="form-control animated aparecer" placeholder="Solución posible en Latin..." name="solucionPLatin" #solucionPLatin="ngModel" [(ngModel)]="ejercicio.solucionPLatin"> </textarea>-->
					<textarea style="margin-top: 20px" class="form-control animated aparecer" placeholder="Solución posible en Español..." name="solucionPEspanol" #solucionPEspanol="ngModel" [(ngModel)]="ejercicio.solucionPEspanol" required> </textarea>
					
					<button style="margin-top: 20px" type="submit" class="btn btn-success">Crear</button> <a style="margin-top: 20px" [routerLink]="['/']" class="btn btn-danger">Salir</a>
				</div>

			</div>
			
		</form>
	</div>
</div>


<!-- modal mostrar ejercicio -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalEjercicio ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog mostrar-ejercicio modal-lg">
      <div class="modal-content">
        <div *ngIf="ejercicio != null" class="modal-header">
          <h3><label>Titulo:</label> {{ejercicio.titulo}}</h3>
        </div>
        <div *ngIf="ejercicio != null" class="modal-body">
			<h2 class="text-center" style="color: green; margin-top: 0px;">¡Ejercicio creado!</h2>
          <ul>
            <li><label><i class="glyphicon glyphicon-user"></i> Autor:</label> {{ejercicio.autor}}</li>
            <li><label><i class="glyphicon glyphicon-signal"></i> Nivel:</label> {{ejercicio.nivel}}</li>
            <!--<li><label><i class="glyphicon glyphicon-tag"></i> Tipo:</label> {{ejercicio.tipo}}</li>-->
            <li><label><i class="glyphicon glyphicon-calendar"></i> Fecha de creación:</label> {{ejercicio.fechaCreacion | date: 'dd/MM/yyyy'}}</li>
            <li><label><i class="glyphicon glyphicon-calendar"></i> Ultima modificación:</label> {{ejercicio.fechaModificacion | date: 'dd/MM/yyyy'}} a las {{ejercicio.fechaModificacion | date: 'HH:mm:ss'}}</li>
            <li><label><i class="glyphicon glyphicon-pencil"></i> Enunciado:</label> {{ejercicio.enunciado}}</li>
            <li><label><i class="glyphicon glyphicon-th-list"></i> Frase a traducir:</label> {{ejercicio.fraseATraducir}}</li>
            <li><label><i class="glyphicon glyphicon-th-list"></i> Frase lematizada:</label> {{ejercicio.fraseLematizada}}</li>
            <li><label><i class="glyphicon glyphicon-th-list"></i> Solución en formato lógico:</label> {{ejercicio.solucionFLogico}}</li>
            <li><label><i class="glyphicon glyphicon-th-list"></i> Solución en formato patrón:</label> {{ejercicio.solucionFPatron}}</li>
            <li *ngIf="ejercicio.solucionPEspanol"><label><i class="glyphicon glyphicon-th-list"></i> Solución en Español:</label> {{ejercicio.solucionPEspanol}}</li>
            <li *ngIf="ejercicio.solucionPLatin"><label><i class="glyphicon glyphicon-th-list"></i> Solución en Latín:</label> {{ejercicio.solucionPLatin}}</li>
          </ul>
        </div>
		<div class="modal-footer">
			<button class="btn btn-default" (click)="cerrarModalEjercicio()">cerrar</button>
		</div>
      </div>
    </div>
  </div>
