<h1>{{titulo}}</h1>

<form #formFavorito="ngForm" (ngSubmit)="onSubmit()">
	<label>Titulo:</label>
	<p>
		<input type="text" name="title" #title="ngModel" [(ngModel)]="favorito.title" required/>
	</p>

	<label>Descripcion:</label>
	<p>
		<textarea name="descripcion" #description="ngModel" [(ngModel)]="favorito.description" required></textarea>
	</p>

	<label>Url:</label>
	<p>
		<input type="text" name="url" #url="ngModel" [(ngModel)]="favorito.url" required/>
	</p>

	<input type="submit" name="" value="{{titulo}}">

</form>