<div class="container-fluid" style="background: rgba(95,209,221,0.6);" [style.height]="screenHeight">


<div *ngIf="!registro" id="loginbox" style="margin-top:110px;" class="mainbox col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
     <div class="panel panel-info" >

         <div class="panel-heading">
            <div class="panel-title">LOGIN</div>
            <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
        </div>

        <div style="padding-top:30px" class="panel-body" > 
            <form id="loginform" class="form-horizontal" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div style="margin-bottom: 25px" class="input-group" [ngClass]="{ 'has-error': f.submitted && !alias.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" placeholder="username" class="form-control" name="alias" [(ngModel)]="modelLogin.alias" #alias="ngModel" required />
                    
                </div>
                
                <div style="margin-bottom: 25px" class="input-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" placeholder="password" class="form-control" name="password" [(ngModel)]="modelLogin.password" #password="ngModel" required />
                </div>
                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button [disabled]="loading" class="btn btn-success">Entrar</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:100%" >
                            Solicitar mi cuenta de profesor o alumno  
                        <a (click)="mostrarRegistro(true)" style="cursor: pointer">
                            aqui!
                        </a>
                        </div>
                    </div>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
     </div>
</div>


<div *ngIf="registro" id="signupbox" style="margin-top:20px" class="mainbox col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">REGISTRO</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px; cursor: pointer"><a id="signinlink" (click)="mostrarRegistro(false)">Volver</a></div>
        </div>  
        <div class="panel-body" >
            <form id="signupform" class="form-horizontal" name="form" (ngSubmit)="f2.form.valid && registrar()" #f2="ngForm" novalidate>
                
                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>
                    
                <!--<div *ngIf="f2.submitted && !alias.valid">Alias is required</div>-->
                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !alias.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></span>
                    <input type="text" class="form-control" name="alias" [(ngModel)]="modelRegistro.alias" #alias="ngModel"  placeholder="Alias" required />
                </div>
                
                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !password.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password" [(ngModel)]="modelRegistro.password" #password="ngModel"  placeholder="Password" required />
                </div>
                
                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !nombre.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="modelRegistro.nombre" #nombre="ngModel"  placeholder="Nombre" required />
                </div>

                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !apellidos.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="apellidos" [(ngModel)]="modelRegistro.apellidos" #apellidos="ngModel"  placeholder="Apellidos" required />
                </div>

                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !email.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" class="form-control" name="email" [(ngModel)]="modelRegistro.email" #email="ngModel"  placeholder="Email" required />
                </div>

                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !dni.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                    <input type="text" class="form-control" name="dni" [(ngModel)]="modelRegistro.dni" #dni="ngModel"  placeholder="Dni" required />
                </div>


                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !fecha.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="date" class="form-control" name="fecha" [(ngModel)]="modelRegistro.fecha_nacimiento" #fecha="ngModel"  required />
                </div>

                <div class="input-group" style="margin-bottom: 15px" [ngClass]="{ 'has-error': f2.submitted && !institucion.valid }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                    <input type="text" class="form-control" name="institucion" [(ngModel)]="modelRegistro.institucion_educativa" #institucion="ngModel"  placeholder="Institucion educativa" required />
                </div>

                <div class="input-group" style="margin-bottom: 15px">
                    <input type="radio" required  [(ngModel)]="modelRegistro.role"  name="role" #role="ngModel" value="profesor"> Profesor 
                    <input type="radio"  required [(ngModel)]="modelRegistro.role"  name="role" #role="ngModel" value="alumno"> Alumno
                </div>
                    
               
                    
                
                

                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button [disabled]="loading" class="btn btn-success">Registrarme</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                </div>
            </form>
            </div>
    </div>
</div>
</div>


<!-- modal registro -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalRegistro ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body" >
            <p *ngIf="msg != '' ">{{msg}}</p>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModal()" class="btn">Cerrar</button>
        </div>
        </div>
    </div>
</div>