<cabecera-admin></cabecera-admin>


<div class="row admin-principal" [ngStyle]="{'display': (!verRegistros && !verUsuarios) ? 'block' : 'none'}">

  <div class="col-md-2 col-md-offset-1">
    <div (click)="entrarRegistros()" id="verRegistros" class="opciones-admin">
      <h4>{{MS.ADMIN_NUEVOS_REGISTROS}} ({{registros.length}})</h4>
      <img  src="../../assets/images/nuevos_usuarios.png" class="img-responsive"> 
    </div>
  </div>

  <div class="col-md-2">
    <div (click)="entrarUsuarios()" id="verUsuarios" class="opciones-admin">
      <h4>{{MS.ADMIN_GESTIONAR_USUARIOS}} ({{usuarios.length}})</h4>
      <img  src="../../assets/images/gestionar_usuarios.png" class="img-responsive">
    </div>
  </div>

  <div class="col-md-2">
    <div (click)="abrirModalPdf()" id="subirGuia" class="opciones-admin">
      <h4>{{MS.ADMIN_GUIA_PROFESOR}}</h4>
      <img  src="../../assets/images/subir_pdf.png" class="img-responsive">
    </div>
  </div>

  <div class="col-md-2">
    <div (click)="abrirModalPdfAlum()" id="subirGuia" class="opciones-admin">
      <h4>{{MS.ADMIN_GUIA_ALUMNO}}</h4>
      <img  src="../../assets/images/subir_pdf.png" class="img-responsive">
    </div>
  </div>

  <div class="col-md-2">
    <div (click)="abrirModalDiccionario()" id="subirDiccionario" class="opciones-admin">
      <h4>{{MS.ADMIN_SUBIR_DICCIONARIO}}</h4>
      <img  src="../../assets/images/diccionario_excel.png" class="img-responsive">
    </div>
  </div>


</div>

<panel-registros *ngIf="verRegistros" (salir)="salirRegistros()"></panel-registros>
<panel-gestion-usuarios *ngIf="verUsuarios" (salir)="salirUsuarios()"></panel-gestion-usuarios>

<!-- modal pdf profesor -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalPdf ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body" >
            <div class="form-group">
              <label for="single">{{MS.ADMIN_SELECCIONA_PDF}}</label>
              <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" accept="application/pdf" />
            </div>
            <div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <div *ngIf="uploader.progress == 100" class="animated aparecer alert alert-info">
              <p>{{MS.ADMIN_GUIA_OK}}<strong>{{MS.ADMIN_GUIA_OK_PROFESOR}}</strong></p>
              <p>{{MS.ADMIN_GUIA_OK_INFO}}<strong>{{MS.ADMIN_GUIA_OK_INFO_TIPO}}</strong></p>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModalPdf()" class="btn">{{MS.ADMIN_GUIA_CERRAR}}</button>
            
            <button type="button" class="btn btn-success btn-s"
              (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> {{MS.ADMIN_GUIA_SUBIR}}
            </button><br />
            
        </div>
        </div>
    </div>
</div>

<!-- modal pdf alumno -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalPdfAlum ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body" >
            <div class="form-group">
              <label for="single">{{MS.ADMIN_SELECCIONA_PDF}}</label>
              <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploaderAlum" accept="application/pdf" />
            </div>
            <div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [ngStyle]="{ 'width': uploaderAlum.progress + '%' }"></div>
                </div>
            </div>
            <div *ngIf="uploaderAlum.progress == 100" class="animated aparecer alert alert-info">
              <p>{{MS.ADMIN_GUIA_OK}}<strong>{{MS.ADMIN_GUIA_OK_ALUMNO}}</strong></p>
              <p>{{MS.ADMIN_GUIA_OK_INFO}}<strong>{{MS.ADMIN_GUIA_OK_INFO_TIPO}}</strong></p>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModalPdfAlum()" class="btn">{{MS.ADMIN_GUIA_CERRAR}}</button>
            
            <button type="button" class="btn btn-success btn-s"
              (click)="uploaderAlum.uploadAll()" [disabled]="!uploaderAlum.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> {{MS.ADMIN_GUIA_SUBIR}}
            </button><br />
            
        </div>
        </div>
    </div>
</div>


<!-- modal excel diccionario -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalDiccionario ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body" >
            <div class="form-group">
              <label for="single">{{MS.ADMIN_SELECCIONA_PDF}}</label>
              <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploaderDicc" accept=".xls" />
            </div>
            <div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [ngStyle]="{ 'width': uploaderDicc.progress + '%' }"></div>
                </div>
            </div>
            <div *ngIf="uploaderDicc.progress == 100" class="animated aparecer alert alert-info">
              <p>{{MS.ADMIN_GUIA_OK}}<strong>{{MS.ADMIN_GUIA_OK_DICCIONARIO}}</strong></p>
              <p>{{MS.ADMIN_GUIA_OK_INFO}}<strong>{{MS.ADMIN_GUIA_OK_INFO_TIPO2}}</strong></p>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModalDiccionario()" class="btn">{{MS.ADMIN_GUIA_CERRAR}}</button>
            
            <button type="button" class="btn btn-success btn-s"
              (click)="uploaderDicc.uploadAll()" [disabled]="!uploaderDicc.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> {{MS.ADMIN_GUIA_SUBIR}}
            </button><br />
            
        </div>
        </div>
    </div>
</div>