<cabecera-admin></cabecera-admin>


<div class="row" [ngStyle]="{'display': (!verRegistros && !verUsuarios) ? 'block' : 'none'}">

  <div class="col-md-2 col-md-offset-2">
    <div (click)="entrarRegistros()" id="verRegistros">
      <h4>Nuevos registros ({{registros.length}})</h4>
    </div>
  </div>

  <div class="col-md-2">
    <div (click)="entrarUsuarios()" id="verUsuarios">
      <h4>Gestionar usuarios ({{usuarios.length}})</h4>
    </div>
  </div>


</div>

<panel-registros *ngIf="verRegistros" (salir)="salirRegistros()"></panel-registros>
<panel-gestion-usuarios *ngIf="verUsuarios" (salir)="salirUsuarios()"></panel-gestion-usuarios>