<cabecera-profesor></cabecera-profesor>

<div class="panel-profesor container-fluid">

    <div class="row">
        <div class="col-md-3 menu-profesor-arbol">
            <ul id="tree1">

                <li> Ejercicios <span class="badge badge-small"> {{nEjercicios}}</span><i (click)="seleccionaDatos('ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i>

                    <ul>
                      <li> Mi Coleccion <span class="badge badge-small"> {{nMiColeccion}}</span><i (click)="seleccionaDatos('mios')" class="glyphicon glyphicon-eye-open ojo"></i>
                        <ul>
                          <li><a href="#"> Nivel</a>
                            <ul>
                              <li> Bajo <span class="badge badge-small">{{nMiColeccionNivelB}}</span><i (click)="seleccionaDatos('mios bajo')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Medio <span class="badge badge-small">{{nMiColeccionNivelM}}</span><i (click)="seleccionaDatos('mios medio')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Avanzado <span class="badge badge-small">{{nMiColeccionNivelA}}</span><i (click)="seleccionaDatos('mios avanzado')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1 <span class="badge badge-small">{{nMiColeccionTipo1}}</span><i (click)="seleccionaDatos('mios T1')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 2 <span class="badge badge-small">{{nMiColeccionTipo2}}</span><i (click)="seleccionaDatos('mios T2')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 3 <span class="badge badge-small">{{nMiColeccionTipo3}}</span><i (click)="seleccionaDatos('mios T3')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 4 <span class="badge badge-small">{{nMiColeccionTipo4}}</span><i (click)="seleccionaDatos('mios T4')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                        <li> Otras Colecciones <span class="badge badge-small"> {{nEjercicios-nMiColeccion}}</span><i (click)="seleccionaDatos('otros')" class="glyphicon glyphicon-eye-open ojo"></i>
                        <ul>
                          <li> Nivel
                            <ul>
                              <li> Bajo <span class="badge badge-small">{{nOtrasColeccionesNivelB}}</span><i (click)="seleccionaDatos('otros bajo')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Medio <span class="badge badge-small">{{nOtrasColeccionesNivelM}}</span><i (click)="seleccionaDatos('otros medio')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Avanzado <span class="badge badge-small">{{nOtrasColeccionesNivelA}}</span><i (click)="seleccionaDatos('otros avanzado')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1 <span class="badge badge-small">{{nOtrasColeccionesTipo1}}</span><i (click)="seleccionaDatos('otros T1')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 2 <span class="badge badge-small">{{nOtrasColeccionesTipo2}}</span><i (click)="seleccionaDatos('otros T2')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 3 <span class="badge badge-small">{{nOtrasColeccionesTipo3}}</span><i (click)="seleccionaDatos('otros T3')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 4 <span class="badge badge-small">{{nOtrasColeccionesTipo4}}</span><i (click)="seleccionaDatos('otros T4')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                    </ul>
                </li>
                

                <li><a href="#"> Actividades</a>

                    <ul>
                      <li> Mi Coleccion
                        <ul>
                          <li> Nivel
                            <ul>
                              <li> Bajo</li>
                              <li> Medio</li>
                              <li> Avanzado</li>
                            </ul>
                          </li>
                          <li> Actividades visibles
                            <ul>
                              <li> Nivel
                                <ul>
                                  <li> Bajo</li>
                                  <li> Medio</li>
                                  <li> Avanzado</li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li> Actividades no visibles
                            <ul>
                              <li> Nivel
                                <ul>
                                  <li> Bajo</li>
                                  <li> Medio</li>
                                  <li> Avanzado</li>
                                </ul>
                              </li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                        <li> Otras Colecciones
                        <ul>
                          <li> Nivel
                            <ul>
                              <li> Bajo</li>
                              <li> Medio</li>
                              <li> Avanzado</li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1</li>
                              <li> Tipo 2</li>
                              <li> Tipo 3</li>
                              <li> Tipo 4</li>
                            </ul>
                          </li>
                          <li> Profesor
                            <ul>
                              <li> Antonio Sarasa</li>
                              <li> Ana</li>
                            </ul>
                          </li>  
                          </ul>
                        </li>
                    </ul>
                </li>
            </ul>                
        </div>

        <div class="col-md-5 panel-ejercicios">
          <h2 class="text-center" *ngIf="mostrarLista">{{datosAMostrar}}</h2>
          <div *ngIf="mostrarLista">
            <div class="row">
              <div class="col-md-11 ejer-lista animated fadeInLeft" *ngFor="let ejercicio of pagedItems; let i=index">
                <div class="row">
                  <div class="col-md-5">
                    <ul>
                      <li><strong>Titulo:</strong>{{ejercicio.titulo}}</li>
                      <li><strong>Autor:</strong>{{ejercicio.autor}}</li>
                      <li><strong>Tipo:</strong>{{ejercicio.tipo}}</li>
                      <li><strong>Nivel:</strong>{{ejercicio.nivel}}</li>
                    </ul>
                  </div>

                  <div class="col-md-5">
                    <div class="row">
                      <a class="btn btn-info">Añadir</a>
                      <a class="btn btn-warning">Modificar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-11">
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="col-md-3" style="background: #ddd">
          <h3>Aqui va la parte de carrito</h3>
        </div>-->
   

  </div>

</div>

		

