<cabecera-profesor></cabecera-profesor>

<div class="panel-profesor container-fluid">
    
    <div class="row">
        <div class="col-md-3 col-sm-3 menu-profesor-arbol">
            <ul id="tree1">
                <li> Ejercicios <span class="badge badge-small"> {{nEjercicios}}</span><i (click)="seleccionaDatos('ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i>

                    <ul>
                      <li> Mi Coleccion <span class="badge badge-small"> {{nMiColeccion}}</span><i (click)="seleccionaDatos('mios')" class="glyphicon glyphicon-eye-open ojo"></i>
                        <ul>
                          <li><a href="#"> Nivel</a>
                            <ul>
                              <li> Bajo <span class="badge badge-small">{{nMiColeccionNivelB}}</span><i (click)="seleccionaDatos('mios bajo')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Medio <span class="badge badge-small">{{nMiColeccionNivelM}}</span><i (click)="seleccionaDatos('mios medio')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Avanzado <span class="badge badge-small">{{nMiColeccionNivelA}}</span><i (click)="seleccionaDatos('mios avanzado')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1 <span class="badge badge-small">{{nMiColeccionTipo1}}</span><i (click)="seleccionaDatos('mios T1')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 2 <span class="badge badge-small">{{nMiColeccionTipo2}}</span><i (click)="seleccionaDatos('mios T2')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 3 <span class="badge badge-small">{{nMiColeccionTipo3}}</span><i (click)="seleccionaDatos('mios T3')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 4 <span class="badge badge-small">{{nMiColeccionTipo4}}</span><i (click)="seleccionaDatos('mios T4')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                        <li> Otras Colecciones <span class="badge badge-small"> {{nEjercicios-nMiColeccion}}</span><i (click)="seleccionaDatos('otros')" class="glyphicon glyphicon-eye-open ojo"></i>
                        <ul>
                          <li> Nivel
                            <ul>
                              <li> Bajo <span class="badge badge-small">{{nOtrasColeccionesNivelB}}</span><i (click)="seleccionaDatos('otros bajo')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Medio <span class="badge badge-small">{{nOtrasColeccionesNivelM}}</span><i (click)="seleccionaDatos('otros medio')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Avanzado <span class="badge badge-small">{{nOtrasColeccionesNivelA}}</span><i (click)="seleccionaDatos('otros avanzado')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1 <span class="badge badge-small">{{nOtrasColeccionesTipo1}}</span><i (click)="seleccionaDatos('otros T1')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 2 <span class="badge badge-small">{{nOtrasColeccionesTipo2}}</span><i (click)="seleccionaDatos('otros T2')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 3 <span class="badge badge-small">{{nOtrasColeccionesTipo3}}</span><i (click)="seleccionaDatos('otros T3')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 4 <span class="badge badge-small">{{nOtrasColeccionesTipo4}}</span><i (click)="seleccionaDatos('otros T4')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                    </ul>
                </li>
                

                <li><a href="#"> Actividades</a>

                    <ul>
                      <li> Mi Coleccion
                        <ul>
                          <li> Nivel
                            <ul>
                              <li> Bajo</li>
                              <li> Medio</li>
                              <li> Avanzado</li>
                            </ul>
                          </li>
                          <li> Actividades visibles
                            <ul>
                              <li> Nivel
                                <ul>
                                  <li> Bajo</li>
                                  <li> Medio</li>
                                  <li> Avanzado</li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li> Actividades no visibles
                            <ul>
                              <li> Nivel
                                <ul>
                                  <li> Bajo</li>
                                  <li> Medio</li>
                                  <li> Avanzado</li>
                                </ul>
                              </li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                        <li> Otras Colecciones
                        <ul>
                          <li> Nivel
                            <ul>
                              <li> Bajo</li>
                              <li> Medio</li>
                              <li> Avanzado</li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1</li>
                              <li> Tipo 2</li>
                              <li> Tipo 3</li>
                              <li> Tipo 4</li>
                            </ul>
                          </li>
                          <li> Profesor
                            <ul>
                              <li> Antonio Sarasa</li>
                              <li> Ana</li>
                            </ul>
                          </li>  
                          </ul>
                        </li>
                    </ul>
                </li>
            </ul>                
        </div>
 
        <div class="col-md-5 col-sm-5 panel-ejercicios">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-center" *ngIf="mostrarLista">{{datosAMostrar}}</h3>
            </div>
          </div>
          
          <div class="row" *ngIf="mostrarLista">
         
              <div class="col-md-12 ejer-lista animated fadeInLeft" *ngFor="let ejercicio of pagedItems; let i=index">
                <div class="row">
                  <div class="col-sm-1">
                      <input type="checkbox" [checked]="ejercicio.marcado" (click)="addActividad($event, ejercicio._id)">
                  </div>
                  <div class="col-sm-7">
                    <div class="row">
                      <div class="col-md-6">
                        <ul>
                          <li><i class="glyphicon glyphicon-pencil"></i> {{ejercicio.titulo | truncate : 25}}</li>
                          <li><i class="glyphicon glyphicon-user"></i> {{ejercicio.autor}}</li>     
                        </ul>
                      </div>
                    
                    <div class="col-md-6">
                      <ul>
                        <li><i class="glyphicon glyphicon-tags"></i> {{ejercicio.tipo}}</li>
                        <li><i class="glyphicon glyphicon-signal"></i> {{ejercicio.nivel}}</li>
                      </ul>
                    </div>
                  </div>
                  </div>

                  <div class="col-sm-4 botones-lista">
                      <a class="btn btn-xs btn-info" (click)="showEjercicio(ejercicio)">Abrir</a>
                      <a class="btn btn-xs btn-warning" (click)="showEjercicio(ejercicio)">Modificar</a>
                  </div>
                </div>
              </div>
            
          </div>

            <div class="row">
              <div class="col-sm-12">
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        

        <div class="col-md-4 col-sm-4 panel-actividad" *ngIf="mostrarLista">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-center">Seleccion para actividad</h4>
            </div>
          </div>

          <div class="row"> 
            <div class="col-md-12 listado-actividad">
              <ul>
                <li *ngFor="let ejer of actividad" class="animated fadeInLeft">
                  <i class="glyphicon glyphicon-pencil"></i> <span>{{ejer.titulo | truncate : 5}}</span>
                  <i class="glyphicon glyphicon-tags"></i> <span>{{ejer.tipo}}</span>
                  <i class="glyphicon glyphicon-signal"></i> <span id="last">{{ejer.nivel}}</span>
                  <i class="glyphicon glyphicon-remove" (click)="descartarEjer($event, ejer._id)"></i>
                </li>
              </ul>
              <div class="opciones-actividad">
                <a (click)="vaciarLista()">Vaciar lista</a>
                <a (click)="crearActividad()">Crear</a>
              </div>
            </div>
          </div>
        </div>
   

  </div>

  <!-- modal mostrar ejercicio -->
  <div (click)="hideEjercicio()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalEjercicio ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div *ngIf="ejerAbrir != null" class="modal-header">
          Titulo: {{ejerAbrir.titulo}}
        </div>
        <div *ngIf="ejerAbrir != null" class="modal-body">
          <p>Autor: {{ejerAbrir.autor}}</p>
          <p>Nivel: {{ejerAbrir.nivel}}</p>
          <p>Tipo: {{ejerAbrir.tipo}}</p>
          <p>Enunciado: {{ejerAbrir.enunciado}}</p>
          <p>Frase a traducir: {{ejerAbrir.fraseATraducir}}</p>

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- modal crear actividad -->
  <div class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalActividad ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Completar datos de la actividad</h4>
          </div>
          <div class="modal-body">
            <div class="form-nueva-actividad" *ngIf="nuevaActividad != null">
              <input type="text" class="form-control"  placeholder="Titulo de actividad" name="titulo" #titulo="ngModel" [(ngModel)]="nuevaActividad.titulo">
              <label for="power">Nivel</label>
              <select class="form-control" name="nivel" #nivel="ngModel" 
                  required
                  [(ngModel)]="nuevaActividad.nivel">
                <option value="Bajo">Bajo</option>
                <option value="Medio">Medio</option>
                <option value="Avanzado">Avanzado</option>
              </select>

              <div>
                <label>
                  <input #visible [(ngModel)]="nuevaActividad.visible" type="checkbox" data-toggle="toggle">Visible
                </label>
              </div>
             

              <div>
                <label>
                <input #propuesta [(ngModel)]="nuevaActividad.propuesta" type="checkbox" data-toggle="toggle">Propuesta
              </label>
              </div>
              
              <div [ngStyle]="{'display': nuevaActividad.propuesta ? 'block' : 'none'}">
                <label for="">Fecha de fin </label>
                <input type="date" name="fecha-fin" [(ngModel)]="nuevaActividad.fecha_prop_fin" useValueAsDate>
              </div>
              

            </div>
            
          </div>
          <div class="modal-footer">
            <button (click)="cancelarActividad()" class="btn">Cancelar</button>
            <button (click)="guardarActividad()" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </div>
  </div>

</div>



		

