 <div class="row">
    <div class="col-md-12">

        <ol class="breadcrumb" style="width: 230px; background:#eee">
            <li><a (click)="exit()"><i class="glyphicon glyphicon-home"></i> Panel Administración</a></li>
            <li class="active">Gestion usuarios</li>
        </ol>
    </div>
        
</div>

<div class="panel-registros container-fluid">

   

  <div class="row">
      <div class="col-md-2">
        <div class="buscar-usuarios">
           <div class="form-group">
            <input type="text" name="usuario" [(ngModel)]="userBuscar.usuario" #usuario="ngModel" placeholder="usuario">
          </div>
          <div class="form-group">
            <input type="text" name="nombre" [(ngModel)]="userBuscar.nombre" #nombre="ngModel" placeholder="Nombre">
          </div>
          <div class="form-group">
            <input type="text" name="apellidos" [(ngModel)]="userBuscar.apellidos" #apellidos="ngModel" placeholder="Apellidos" >
          </div>
          <button class="btn" (click)="buscarUsuarios()"><i class="glyphicon glyphicon-search"></i> Buscar</button>
          <button class="btn" (click)="actualizarDatos()"><i class="glyphicon glyphicon-refresh"></i> Borrar busqueda</button>
        </div>
        
      </div>
      <div class="col-md-6 animated aparecer" *ngIf="users.length > 0">
        <h3 class="text-center">Hay <span>{{users.length}}</span> usuarios registrados</h3>
        
        <div *ngFor="let usuario of pagedItems; let i = index" class="usu-registro animated aparecer">

          <div class="row">

            <div class="col-md-2" (click)="verUsuario(usuario)">
              <img src="../../assets/images/users.png" alt="">
            </div>

            <div class="col-md-4" (click)="verUsuario(usuario)">
              <p class="ver-info">{{usuario.nombre}} {{usuario.apellidos}} "{{usuario.usuario}}"</p>
            </div>

            <div class="col-md-3" (click)="verUsuario(usuario)">
              <p class="ver-info">{{usuario.role}}</p>
            </div>

            <div class="col-md-3">
                <div class="btn-group opciones-usuarios">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="abrirModalModificar(usuario)">Modificar datos</a></li>
                        <li><a (click)="abrirModalPass(usuario)">Cambiar contraseña</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a (click)="abrirModalEliminar(usuario, i)">Eliminar</a></li>
                    </ul>
                </div>
            </div>

          </div>
        </div>
      </div>
  </div>


  <div class="row" *ngIf="users.length > 0">
    <div class="col-md-6 col-md-offset-2 paginador" style="margin-top: 35px;">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">Primero</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Siguiente</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Ultimo</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<!-- modal mensajes -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalRegistro ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body" >
            <p *ngIf="msg != '' ">{{msg}}</p>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModal()" class="btn">Cerrar</button>
        </div>
        </div>
    </div>
</div>


<!-- modal info -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalUsuario ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <ul class="user-info">
                <li><i class="glyphicon glyphicon-sunglasses"></i> Usuario: {{userInfo.usuario}}</li>
                <li><i class="glyphicon glyphicon-user"></i> Nombre: {{userInfo.nombre}}</li>
                <li><i class="glyphicon glyphicon-user"></i> Apellidos: {{userInfo.apellidos}}</li>
                <li><i class="glyphicon glyphicon-envelope"></i> Email: {{userInfo.email}}</li>
                <li><i class="glyphicon glyphicon-education"></i> Institucion educativa: {{userInfo.institucion_educativa}}</li>
                <li><i class="glyphicon glyphicon-tag"></i> Role: {{userInfo.role}}</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModalInfo()" class="btn">Cerrar</button>
        </div>
        </div>
    </div>
</div>

<!-- modal cambiar contraseña -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalPass ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog cambiar-pass">
        <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-7 col-md-offset-2">
              <input class="form-control" type="password" name="password" [(ngModel)]="nuevaPass" #password="ngModel" placeholder="Nueva contraseña" >
            </div>
            <div class="col-md-7 col-md-offset-2">
              <input class="form-control" type="password" name="repeatPassword" [(ngModel)]="repeatNuevaPass" #repeatPassword="ngModel" placeholder="Repite contraseña" >
            </div>

          </div>
        </div>
        <div class="modal-footer">
            <button *ngIf="nuevaPass != '' && repeatNuevaPass != '' " (click)="cambiarPass()" class="btn btn-success animated aparecer">Modificar</button>
            <button (click)="cerrarModalPass()" class="btn">Cerrar</button>
        </div>
        </div>
    </div>
</div>

<!-- modal para mensajes -->
<div (click)="cerrarModalMessage()" style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
      [ngStyle]="{'display': modalMessage ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog modal-xs modal-mensajes">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center">{{message}}</p>
      </div>
    </div>
  </div>
</div>


<!-- modal modificar datos personales -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalModificar ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modificar-usuario">
        <div class="modal-content">
        <div class="modal-body" *ngIf="userUpdate != null">
          <div class="row">
            
              <div class="col-md-3 form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="userUpdate.nombre" #nombre="ngModel" placeholder="Nombre" >
              </div>
              <div class="col-md-3 form-group">
                  <label for="nombre">Apellidos</label>
                  <input type="text" name="apellidos" [(ngModel)]="userUpdate.apellidos" #apellidos="ngModel" placeholder="Apellidos" >
              </div>
              <div class="col-md-3 form-group">
                  <label for="mail">Correo electrónico</label>
                  <input type="text" name="mail" [(ngModel)]="userUpdate.email" #mail="ngModel" placeholder="Email" >
              </div>
              <div class="col-md-3 form-group">
                <label for="institucion">Inst. educativa</label>
                <input type="text" name="institucion" [(ngModel)]="userUpdate.institucion_educativa" #institucion="ngModel" placeholder="Inst. educativa" >
              </div>
          
          </div>

          </div>
        <div class="modal-footer">
            <button (click)="modificarUsuario()" class="btn btn-success">Modificar</button>
            <button (click)="cerrarModalModificar()" class="btn">Cerrar</button>
        </div>
        </div>
    </div>
</div>

<!-- modal eliminar usuario -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalEliminar ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body" >
            <p *ngIf="msg != '' ">{{msg}}</p>
        </div>
        <div class="modal-footer">
          <button (click)="eliminarUsuario()" class="btn btn-warning">Eliminar</button>
          <button (click)="cerrarModalEliminar()" class="btn">Cerrar</button>
        </div>
        </div>
    </div>
</div>