 <div class="row">
    <div class="col-md-12">

        <ol class="breadcrumb" style="width: 230px; background:#eee">
            <li><a (click)="exit()"><i class="glyphicon glyphicon-home"></i> {{MS.ADMIN_MIGAS_PANEL_REGISTRO}}</a></li>
            <li class="active">{{MS.ADMIN_MIGAS_NUEVOS_REGISTROS}}</li>
        </ol>
    </div>
        
</div>

<div class="panel-registros container-fluid">

   

  <div class="row">
      <div class="col-md-6 col-md-offset-3 animated aparecer" *ngIf="users.length > 0">
        <h3 class="text-center">{{MS.ADMIN_REGISTROS_HAY}}<span>{{users.length}}</span>{{MS.ADMIN_REGISTROS_HAY_SOLICITUDES}}</h3>
        <p class="text-center">{{MS.ADMIN_REGISTROS_VER_INFO}}</p>
        <div *ngFor="let usuario of pagedItems" class="usu-registro">

          <div class="row">

            <div class="col-md-2" (click)="verUsuario(usuario)">
              <img src="../../assets/images/users.png" alt="">
            </div>

            <div class="col-md-4" (click)="verUsuario(usuario)">
              <p class="ver-info">{{usuario.nombre}} {{usuario.apellidos}} "{{usuario.usuario}}"</p>
            </div>

            <div class="col-md-3" (click)="verUsuario(usuario)">
              <p class="ver-info">{{usuario.role}}</p>
            </div>

            <div class="col-md-3">
              <i class="glyphicon glyphicon-ok" (click)="aprobarRegistro(usuario)">{{MS.ADMIN_REGISTROS_APROBAR}}</i>
              <i class="glyphicon glyphicon-remove" (click)="desaprobarRegistro(usuario)">{{MS.ADMIN_REGISTROS_RECHAZAR}}</i>
            </div>

          </div>
        </div>
      </div>
  </div>

   <div class="row">
      <div class="col-md-6 col-md-offset-3 animated aparecer" *ngIf="users.length == 0">
        <h3 class="text-center">{{MS.ADMIN_REGISTROS_NO_SOLICITUDES}}</h3>
      </div>
   </div>

  <div class="row" *ngIf="users.length > 0">
    <div class="col-md-6 col-md-offset-3 paginador">
      <!-- pager -->
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">{{MS.PAGINADOR_PRIMERO}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">{{MS.PAGINADOR_ANTERIOR}}</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">{{MS.PAGINADOR_SIGUIENTE}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">{{MS.PAGINADOR_ULTIMO}}</a>
        </li>
      </ul>
    </div>
  </div>

</div>

<!-- modal registro -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalRegistro ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body" >
            <p *ngIf="msg != '' ">{{msg}}</p>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModal()" class="btn">{{MS.BTN_CERRAR}}</button>
        </div>
        </div>
    </div>
</div>


<!-- modal info -->
<div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
    [ngStyle]="{'display': modalUsuario ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <ul class="user-info">
                <li><i class="glyphicon glyphicon-sunglasses"></i> Usuario: {{userInfo.usuario}}</li>
                <li><i class="glyphicon glyphicon-user"></i> Nombre: {{userInfo.nombre}}</li>
                <li><i class="glyphicon glyphicon-user"></i> Apellidos: {{userInfo.apellidos}}</li>
                <li><i class="glyphicon glyphicon-envelope"></i> Email: {{userInfo.email}}</li>
                <li><i class="glyphicon glyphicon-education"></i> Institucion educativa: {{userInfo.institucion_educativa}}</li>
                <li><i class="glyphicon glyphicon-tag"></i> Rol: {{userInfo.role}}</li>
              </ul>
            </div>

          </div>
        </div>
        <div class="modal-footer">
            <button (click)="cerrarModalInfo()" class="btn">{{MS.BTN_CERRAR}}</button>
        </div>
        </div>
    </div>
</div>