<div [ngStyle]="{'display': !verSolu ? 'block' : 'none'}" class="panel-buscar-sol container-fluid">
    <div class="row">
        <div class="col-md-4">
            <ol class="breadcrumb" style="background:#eee">
                <li><i class="glyphicon glyphicon-home"></i> <a (click)="exit()">Panel principal</a></li>
                <li class="active">Ver soluciones </li>
            </ol>
            
            <div class="panel-buscar-soluciones">
                <div class="buscar-filtro">
                    <label for="power">Actividades</label>
                    <select class="form-control" id="porActividades"
                            required
                            [(ngModel)]="busquedaByActividad" name="porActividad"
                            #porActividad="ngModel" >
                    <option [value]=""></option>
                    <option *ngFor="let act of actividades" [value]="act._id">{{act.titulo}}</option>
                    </select>

                    <label for="power">Alumnos</label>
                    <select class="form-control" id="porAlumnos" required (change)="addAlumno($event.target.value)">
                    <option [value]=""></option>
                    <option *ngFor="let alu of alumnos, let i of index" [value]="alu._id">{{alu.nombre}} {{alu.apellidos}} ({{alu.alias}})</option>
                    </select>

                    <div class="tags">
                            <label *ngFor="let alu of busquedaByAlumnos" class="tag animated aparecer fadeOut">{{alu.nombre}} {{alu.apellidos.substr(0,1)}}. <i (click)="deleteAlumno(alu._id)" class="glyphicon glyphicon-remove"></i> </label>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label for="desde">Desde </label>
                            <input type="date" name="fecha-desde" [(ngModel)]="fecha_desde" useValueAsDate>
                        </div>

                        <div class="col-md-6 col-sm-12">
                           <label for="desde">Hasta </label>
                            <input type="date" name="fecha-hasta" [(ngModel)]="fecha_hasta" useValueAsDate> 
                        </div>
                    </div>

                    <button class="btn btn-buscar" (click)="buscar()"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                    <button class="btn btn-limpiar" (click)="limpiarFiltro()">Limpiar filtro</button>
                    <div class="clearfix"></div>

                </div>

                
            </div>
        </div>

        <div class="col-md-7 listado-soluciones">
            <div class="col-md-12 sol-lista animated fadeInLeft" *ngFor="let solucion of pagedSoluciones; let i=index">
                <div class="row">
                    <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                        <ul>
                            <li><i class="glyphicon glyphicon-education"></i> alumno: {{solucion.nombre_alumno}}</li>
                            <li><i class="glyphicon glyphicon-pencil"></i> título: {{solucion.actividad.titulo | truncate: 12}}</li>
                            <li><i class="glyphicon glyphicon-user"></i> profesor: {{solucion.actividad.profesor}}</li>     
                        </ul>
                        </div>
                    
                        <div class="col-md-5">
                        <ul>
                            <li><i class="glyphicon glyphicon-signal"></i> nivel: {{solucion.actividad.nivel}}</li>
                            <li><i class="glyphicon glyphicon-calendar"></i> apertura: {{solucion.actividad.fecha_creacion |  date : 'dd/MM/yyyy'}}</li>
                            <li *ngIf="solucion.actividad.propuesta"><i class="glyphicon glyphicon-calendar"></i> cierre: {{solucion.actividad.fecha_prop_fin | date : 'dd/MM/yyyy'}}</li>
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-md-1 botones-lista">
                    <a class="btn btn-resolver-sol btn-xs" (click)="verSolucion(solucion)"><i class="glyphicon glyphicon-eye-open"> Ver</i></a>
                </div>
                </div>
            </div>

            <!-- Paginador para soluciones-->
            <div *ngIf="mostrarSoluciones" class="row">
                <div class="col-sm-12">
                    <!-- pager -->
                    <ul *ngIf="pagerSolucion.pages && pagerSolucion.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pagerSolucion.currentPage === 1}">
                        <a (click)="setPageSoluciones(1)">Primera</a>
                    </li>
                    <li [ngClass]="{disabled:pagerSolucion.currentPage === 1}">
                        <a (click)="setPageSoluciones(pagerSolucion.currentPage - 1)">Anterior</a>
                    </li>
                    <li *ngFor="let page of pagerSolucion.pages" [ngClass]="{active:pagerSolucion.currentPage === page}">
                        <a (click)="setPageSoluciones(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pagerSolucion.currentPage === pagerSolucion.totalPages}">
                        <a (click)="setPageSoluciones(pagerSolucion.currentPage + 1)">Siguiente</a>
                    </li>
                    <li [ngClass]="{disabled:pagerSolucion.currentPage === pagerSolucion.totalPages}">
                        <a (click)="setPageSoluciones(pagerSolucion.totalPages)">Ultima</a>
                    </li>
                    </ul>
                </div>
            </div>

            <div *ngIf="boolMsgBusqueda && !mostrarSoluciones" class="alert alert-warning animated fadeInLeft" role="alert">{{msgBusqueda}}</div>

            <!-- ########################### -->
        </div>
    </div>
</div>

<datos-solucion *ngIf="verSolu" [solucion]="solucion" (salir)="saliendoDeVerSolucion()"></datos-solucion>


