<cabecera-alumno></cabecera-alumno>

<div [ngStyle]="{'display': !verSolu ? 'block' : 'none'}" class="panel-alumno container-fluid">

  <div class="row">
       <div class="col-md-4 col-sm-4">
          <!--<a routerLink="/crear-ejercicio" class="btn btn-default">Crear ejercicio</a>
          <button (click)="verBusquedaSoluciones()" class="btn btn-default">Ver soluciones</button>-->
          <div class="btn-group acciones-profesor">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acciones <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="abrirBuscarActs()"><i class="glyphicon glyphicon-search"></i> Buscador actividades</a></li>
              <li><a (click)="abrirBuscarEjers()"><i class="glyphicon glyphicon-search"></i> Buscador soluciones</a></li>
            </ul>
          </div>
       </div>
    </div>

  <div class="row">
    <div class="col-md-4 menu-alumno-arbol">

      <ul id="tree1">

        <li><a href="#"> Actividades </a><span class="badge badge-small"> {{disponibles.length + propuestas.length }}</span>

          <ul>
            <li> Actividades propuestas <span class="badge badge-small"> {{propuestas.length}}</span><i *ngIf="propuestas.length" (click)="seleccionaDatosActividades('propuestas')" class="glyphicon glyphicon-eye-open ojo"></i>
              <ul>
                <li><a href="#"> Profesores </a>
                  <ul *ngIf="profesores.length > 0">
                    <li *ngFor="let profesor of profesores">{{profesor.nombre}} <i (click)="seleccionaDatosActividades(profesor, true,'P')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                  </ul>
                </li>
                <li>Fecha de apertura (o.cronológico) <span class="badge badge-small"> {{propuestasByApertura.length}}</span><i *ngIf="propuestasByApertura.length" (click)="seleccionaDatosActividades('propuestas apertura')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                <li>Fecha de cierre (o.cronológico) <span class="badge badge-small"> {{propuestasByCierre.length}}</span> <i *ngIf="propuestasByCierre.length" (click)="seleccionaDatosActividades('propuestas cierre')" class="glyphicon glyphicon-eye-open ojo"></i></li>             
              </ul>
            </li>
            <li> Actividades disponibles <span class="badge badge-small">{{disponibles.length}}</span><i *ngIf="disponibles.length" (click)="seleccionaDatosActividades('disponibles')" class="glyphicon glyphicon-eye-open ojo"></i>
              <ul>
                <li> Nivel
                  <ul>
                    <li> Nivel Inicial <span class="badge badge-small">{{disponiblesNBajo.length}}</span><i *ngIf="disponiblesNBajo.length" (click)="seleccionaDatosActividades('disponibles nb')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                    <li> Nivel Medio <span class="badge badge-small">{{disponiblesNMedio.length}}</span><i *ngIf="disponiblesNMedio.length" (click)="seleccionaDatosActividades('disponibles nm')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                    <li> Nivel Avanzado <span class="badge badge-small">{{disponiblesNAlto.length}}</span><i *ngIf="disponiblesNAlto.length" (click)="seleccionaDatosActividades('disponibles na')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                  </ul>
                </li>
                <li><a href="#"> Profesores </a>
                      <ul *ngIf="profesores.length > 0">
                        <li *ngFor="let profesor of profesores">{{profesor.nombre}} <i (click)="seleccionaDatosActividades(profesor, true,'D')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                      </ul>
                </li>
              </ul>
          </ul>
        </li>

        <li><a href="#"> Soluciones </a><span class="badge badge-small"> {{actividadesResueltas.length +  actividadesSinResolver.length}}</span>
          <ul>
            <li><a href="#"> Mis actividades hechas </a> <span class="badge badge-small">{{actividadesResueltas.length}}</span> <i *ngIf="actividadesResueltas.length" (click)="seleccionaDatosSoluciones('resueltas')" class="glyphicon glyphicon-eye-open ojo"></i>
              <ul>
                <li><a href="#"> Nivel</a>
                  <ul>
                    <li> Inicial <span class="badge badge-small">{{actividadesResueltasNB.length}}</span> <i *ngIf="actividadesResueltasNB.length" (click)="seleccionaDatosSoluciones('resueltasNB')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                    <li> Medio <span class="badge badge-small">{{actividadesResueltasNM.length}}</span> <i *ngIf="actividadesResueltasNM.length" (click)="seleccionaDatosSoluciones('resueltasNM')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                    <li> Avanzado <span class="badge badge-small">{{actividadesResueltasNA.length}}</span> <i *ngIf="actividadesResueltasNA.length" (click)="seleccionaDatosSoluciones('resueltasNA')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                  </ul>
                </li>
                <li><a href="#"> Profesores </a>
                  <ul *ngIf="profesores.length > 0">
                    <li *ngFor="let profesor of profesores">{{profesor.nombre}} <i (click)="seleccionaDatosSoluciones(profesor, true, 'R')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                  </ul>
                </li>
                <!--<li><a href="#"> Estadísticas</a></li>-->
              </ul>
            </li>

            <li><a href="#"> Sin terminar </a> <span class="badge badge-small">{{actividadesSinResolver.length}}</span> <i *ngIf="actividadesSinResolver.length" (click)="seleccionaDatosSoluciones('sin-resolver')" class="glyphicon glyphicon-eye-open ojo"></i>
              <ul>
                <li><a href="#"> Nivel</a>
                  <ul>
                    <li> Inicial <span class="badge badge-small">{{actividadesSinResolverNB.length}}</span> <i *ngIf="actividadesSinResolverNB.length" (click)="seleccionaDatosSoluciones('sin-resolverNB')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                    <li> Medio <span class="badge badge-small">{{actividadesSinResolverNM.length}}</span> <i *ngIf="actividadesSinResolverNM.length" (click)="seleccionaDatosSoluciones('sin-resolverNM')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                    <li> Avanzado <span class="badge badge-small">{{actividadesSinResolverNA.length}}</span> <i *ngIf="actividadesSinResolverNA.length" (click)="seleccionaDatosSoluciones('sin-resolverNA')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                  </ul>
                </li>
                <li><a> Profesores </a>
                  <ul *ngIf="profesores.length > 0">
                    <li *ngFor="let profesor of profesores">{{profesor.nombre}} <i (click)="seleccionaDatosSoluciones(profesor, true, 'SR')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                  </ul>
                </li>
                <!--<li><a href="#"> Estadísticas</a></li>-->
              </ul>
            </li>

          </ul>
        </li>
      </ul>

    </div>

    <div class="col-md-7 col-sm-5 panel-actividades">
       <div class="row">
          <div class="col-sm-12">
            <h3 class="text-center" *ngIf="mostrarActividades || mostrarSoluciones">{{datosAMostrar}}</h3>
          </div>
      </div>

      <!-- Para mostrar las actividades a resolver -->
      <div class="row" *ngIf="mostrarActividades">
        <div class="col-md-12 act-lista animated fadeInLeft" *ngFor="let actividad of pagedActividades; let i=index">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="row">
                  <div class="col-md-12">
                    <h4><span>Titulo: </span>{{actividad.titulo}}</h4>
                  </div>
                </div>
                <div class="col-md-4 act-user">
                  <ul>
                    <li><i class="glyphicon glyphicon-user"></i> {{actividad.profesor}}</li>     
                  </ul>
                </div>

                <div class="col-md-4 act-nivel">
                  <ul>
                    <li><i class="glyphicon glyphicon-signal"></i> {{actividad.nivel}}</li>    
                  </ul>
                </div>
              
                <div class="col-md-4">
                  <ul>
                    <li><i class="glyphicon glyphicon-calendar"></i> {{actividad.fecha_creacion | date: 'dd/MM/yyyy'}}</li>
                    <li *ngIf="actividad.propuesta"><i class="glyphicon glyphicon-ban-circle"></i> {{actividad.fecha_prop_fin | date: 'dd/MM/yyyy'}}</li>
                  </ul>
                </div>
            </div>
          </div>

          <div class="col-md-3 botones-lista">
            <div class="resolver">
              <a class="btn btn-resolver btn-xs" [routerLink]="['/resolver-actividad/'+ actividad._id]"><i class="glyphicon glyphicon-pencil"> Resolver</i></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- ########################### -->

    <!-- Para mostrar las actividades resueltas (soluciones) -->
      <div class="row" *ngIf="mostrarSoluciones">
        <div class="col-md-12 sol-lista animated fadeInLeft" *ngFor="let solucion of pagedSoluciones; let i=index">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-5">
                  <ul>
                    <li><i class="glyphicon glyphicon-pencil"></i> título: {{solucion.actividad.titulo | truncate: 12}}</li>
                    <li><i class="glyphicon glyphicon-user"></i> profesor: {{solucion.actividad.profesor}}</li>     
                  </ul>
                </div>
            
                <div class="col-md-5">
                  <ul>
                    <li><i class="glyphicon glyphicon-signal"></i> nivel: {{solucion.actividad.nivel}}</li>
                    <li><i class="glyphicon glyphicon-calendar"></i> apertura: {{solucion.actividad.fecha_creacion |  date : 'dd/MM/yyyy'}}</li>
                    <li *ngIf="solucion.actividad.propuesta"><i class="glyphicon glyphicon-calendar"></i> cierre: {{solucion.actividad.fecha_prop_fin | date : 'dd/MM/yyyy'}}</li>
                  </ul>
              </div>
            </div>
          </div>

          <div class="col-md-1 botones-lista">
            <a *ngIf="solucion.terminado" class="btn btn-resolver-sol btn-xs" [routerLink]="['/resolver-actividad/' + solucion.actividad._id]"><i class="glyphicon glyphicon-pencil"> Resolver</i></a>
            <a *ngIf="!solucion.terminado" class="btn btn-resolver-sol btn-xs" [routerLink]="['/resolver-actividad/' + solucion.actividad._id + '-' + solucion._id]">Continuar</a>
            <a class="btn btn-resolver-sol btn-xs" (click)="verSolucion(solucion)"><i class="glyphicon glyphicon-eye-open"> Ver</i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ########################### -->

    <!-- Paginador para actividades-->
    <div class="row">
      <div class="col-sm-12" *ngIf="mostrarActividades && pagedActividades > 0">
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- ########################### -->

    <!-- Paginador para soluciones-->
    <div class="row">
      <div class="col-sm-12" *ngIf="mostrarSoluciones && pagedSoluciones > 0">
        <!-- pager -->
        <ul *ngIf="pagerSolucion.pages && pagerSolucion.pages.length" class="pagination">
          <li [ngClass]="{disabled:pagerSolucion.currentPage === 1}">
            <a (click)="setPageSoluciones(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pagerSolucion.currentPage === 1}">
            <a (click)="setPageSoluciones(pagerSolucion.currentPage - 1)">Previous</a>
          </li>
          <li *ngFor="let page of pagerSolucion.pages" [ngClass]="{active:pagerSolucion.currentPage === page}">
            <a (click)="setPageSoluciones(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pagerSolucion.currentPage === pagerSolucion.totalPages}">
            <a (click)="setPageSoluciones(pagerSolucion.currentPage + 1)">Next</a>
          </li>
          <li [ngClass]="{disabled:pagerSolucion.currentPage === pagerSolucion.totalPages}">
            <a (click)="setPageSoluciones(pagerSolucion.totalPages)">Last</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- ########################### -->

  </div>


  </div>
</div>

<!-- modal buscar actividades -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalBuscarActs ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-buscar-acts">
      <div class="modal-content">
        <div class="modal-header" style="background: #6AB5A4;">
          <h4><i class="glyphicon glyphicon-search"></i> Buscar actividades</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <input type="text" placeholder="titulo" class="form-control" name="titulo" [(ngModel)]="criteriaActividades.titulo" #titulo="ngModel" required />
            </div>

            <div class="col-md-1">
              <label for="nivel">nivel</label>
            </div>

            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="criteriaActividades.nivel" name="nivel"
                #nivel="ngModel" required>
                <option value="Bajo">Bajo</option>
                <option value="Medio">Medio</option>
                <option value="Avanzado">Avanzado</option>
              </select>
            </div>
          </div>
			
          <div class="row">

            <div class="col-md-3">
              <label for="visible">visible</label>
              <select class="form-control" [(ngModel)]="criteriaActividades.visible" name="visible"
                #visible="ngModel" required>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>

            <div class="col-md-4 col-sm-12">
              <label for="desde">Desde </label>
              <input type="date" name="fecha-desde" class="form-control" [(ngModel)]="criteriaActividades.desde" useValueAsDate>
            </div>

            <div class="col-md-4 col-sm-12">
                <label for="desde">Hasta </label>
                <input type="date" name="fecha-hasta" class="form-control" [(ngModel)]="criteriaActividades.hasta" useValueAsDate> 
            </div>
		  	</div>

        <div class="row">
          <div class="col-md-3">
            <label for="visible">Propuesta</label>
              <select class="form-control" [(ngModel)]="criteriaActividades.propuesta" name="propuesta"
                #propuesta="ngModel" required>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
          </div>

          <div class="col-md-4 col-sm-4 animated aparecer" *ngIf="criteriaActividades.propuesta">
              <label for="desde">Fecha propuesta</label>
              <input type="date" name="fecha_propuesta" class="form-control" [(ngModel)]="criteriaActividades.fecha_propuesta" useValueAsDate>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-default limpiar-filtro-acts" (click)="limpiarFiltroActs()">Limpiar filtro</button>
          </div>
        </div>
  
        </div>
        <div class="modal-footer">
          <button class="btn" (click)="cerrarBuscarActividades()">Cerrar</button>
          <button class="btn" (click)="buscarActividades()">Buscar</button>
        </div>
      </div>
    </div>
  </div>


<datos-solucion *ngIf="verSolu" [solucion]="solucion" (salir)="saliendoDeVerSolucion()"></datos-solucion>