<cabecera-profesor></cabecera-profesor>

<div class="panel-profesor container-fluid">
    
    <div class="row">
        <div class="col-md-3 col-sm-3 menu-profesor-arbol">
            <ul id="tree1">
                <li class="rama-ejercicios"> Ejercicios <span class="badge badge-small"> {{nEjercicios}}</span><i *ngIf="nEjercicios" (click)="seleccionaDatos('ejercicios', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i>

                    <ul>
                      <li> Mi Coleccion <span class="badge badge-small"> {{nMiColeccion}}</span><i *ngIf="nMiColeccion" (click)="seleccionaDatos('mios', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i>
                        <ul>
                          <li><a href="#"> Nivel</a>
                            <ul>
                              <li> Bajo <span class="badge badge-small">{{nMiColeccionNivelB}}</span><i *ngIf="nMiColeccionNivelB" (click)="seleccionaDatos('mios bajo', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Medio <span class="badge badge-small">{{nMiColeccionNivelM}}</span><i *ngIf="nMiColeccionNivelM" (click)="seleccionaDatos('mios medio', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Avanzado <span class="badge badge-small">{{nMiColeccionNivelA}}</span><i *ngIf="nMiColeccionNivelA" (click)="seleccionaDatos('mios avanzado', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1 <span class="badge badge-small">{{nMiColeccionTipo1}}</span><i *ngIf="nMiColeccionTipo1" (click)="seleccionaDatos('mios T1', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 2 <span class="badge badge-small">{{nMiColeccionTipo2}}</span><i *ngIf="nMiColeccionTipo2" (click)="seleccionaDatos('mios T2', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 3 <span class="badge badge-small">{{nMiColeccionTipo3}}</span><i *ngIf="nMiColeccionTipo3" (click)="seleccionaDatos('mios T3', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 4 <span class="badge badge-small">{{nMiColeccionTipo4}}</span><i *ngIf="nMiColeccionTipo4" (click)="seleccionaDatos('mios T4', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                        <li> Otras Colecciones <span class="badge badge-small"> {{nEjercicios-nMiColeccion}}</span><i *ngIf="nEjercicios-nMiColeccion" (click)="seleccionaDatos('otros', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i>
                        <ul>
                          <li> Nivel
                            <ul>
                              <li> Bajo <span class="badge badge-small">{{nOtrasColeccionesNivelB}}</span><i *ngIf="nOtrasColeccionesNivelB" (click)="seleccionaDatos('otros bajo', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Medio <span class="badge badge-small">{{nOtrasColeccionesNivelM}}</span><i *ngIf="nOtrasColeccionesNivelM" (click)="seleccionaDatos('otros medio', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Avanzado <span class="badge badge-small">{{nOtrasColeccionesNivelA}}</span><i *ngIf="nOtrasColeccionesNivelA" (click)="seleccionaDatos('otros avanzado', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li>
                          <li> Tipo
                            <ul>
                              <li> Tipo 1 <span class="badge badge-small">{{nOtrasColeccionesTipo1}}</span><i *ngIf="nOtrasColeccionesTipo1" (click)="seleccionaDatos('otros T1', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 2 <span class="badge badge-small">{{nOtrasColeccionesTipo2}}</span><i *ngIf="nOtrasColeccionesTipo2" (click)="seleccionaDatos('otros T2', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 3 <span class="badge badge-small">{{nOtrasColeccionesTipo3}}</span><i *ngIf="nOtrasColeccionesTipo3" (click)="seleccionaDatos('otros T3', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                              <li> Tipo 4 <span class="badge badge-small">{{nOtrasColeccionesTipo4}}</span><i *ngIf="nOtrasColeccionesTipo4" (click)="seleccionaDatos('otros T4', 'ejercicios')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            </ul>
                          </li> 
                          </ul>
                        </li>
                    </ul>
                </li>
                

                <li class="rama-actividades"> Actividades <span class="badge badge-small"> {{miColeccionAct.length}}</span><i *ngIf="miColeccionAct.length" (click)="seleccionaDatos('mias', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i> 
                  <ul>
                    <li> Nivel
                      <ul>
                        <li> Bajo <span class="badge badge-small"> {{miColeccionNivelBAct.length}}</span><i *ngIf="miColeccionNivelBAct.length" (click)="seleccionaDatos('mias bajas', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                        <li> Medio <span class="badge badge-small"> {{miColeccionNivelMAct.length}}</span><i *ngIf="miColeccionNivelMAct.length" (click)="seleccionaDatos('mias medias', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                        <li> Avanzado <span class="badge badge-small"> {{miColeccionNivelAAct.length}}</span><i *ngIf="miColeccionNivelAAct.length" (click)="seleccionaDatos('mias avanzadas', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                      </ul>
                    </li>
                    <li> Actividades visibles <span class="badge badge-small"> {{visibles.length}}</span><i *ngIf="visibles.length" (click)="seleccionaDatos('visibles', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i>
                      <ul>
                        <li> Nivel
                          <ul>
                            <li> Bajo <span class="badge badge-small"> {{visiblesNivelBAct.length}}</span><i *ngIf="visiblesNivelBAct.length" (click)="seleccionaDatos('visibles bajas', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            <li> Medio <span class="badge badge-small"> {{visiblesNivelBAct.length}}</span><i *ngIf="visiblesNivelBAct.length" (click)="seleccionaDatos('visibles medias', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            <li> Avanzado <span class="badge badge-small"> {{visiblesNivelBAct.length}}</span><i *ngIf="visiblesNivelBAct.length" (click)="seleccionaDatos('visibles avanzadas', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li> Actividades no visibles <span class="badge badge-small"> {{invisibles.length}}</span><i *ngIf="invisibles.length" (click)="seleccionaDatos('invisibles', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i>
                      <ul>
                        <li> Nivel
                          <ul>
                            <li> Bajo <span class="badge badge-small"> {{invisiblesNivelBAct.length}}</span><i *ngIf="invisiblesNivelBAct.length" (click)="seleccionaDatos('invisibles bajas', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            <li> Medio <span class="badge badge-small"> {{invisiblesNivelBAct.length}}</span><i *ngIf="invisiblesNivelBAct.length" (click)="seleccionaDatos('invisibles medias', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                            <li> Avanzado <span class="badge badge-small"> {{invisiblesNivelBAct.length}}</span><i *ngIf="invisiblesNivelBAct.length" (click)="seleccionaDatos('invisibles avanzadas', 'actividades')" class="glyphicon glyphicon-eye-open ojo"></i></li>
                          </ul>
                        </li>
                      </ul>
                    </li> 
                    </ul>
                </li>
            </ul>                
        </div>
 
        <div class="col-md-5 col-sm-5 panel-ejercicios">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-center" *ngIf="mostrarListaEjers || mostrarListaActs ">{{datosAMostrar}}</h3>
            </div>
          </div>
          
          <div class="row" *ngIf="mostrarListaEjers">
         
              <div class="col-md-12 ejer-lista animated fadeInLeft" *ngFor="let ejercicio of pagedItemsEjers; let i=index">
                <div class="row">
                  <div class="col-sm-1">
                      <input type="checkbox" [checked]="ejercicio.marcado" (click)="addActividad($event, ejercicio._id)">
                  </div>
                  <div class="col-sm-9">
                    <div class="row">
                      <div class="col-md-6">
                        <ul>
                          <li><i class="glyphicon glyphicon-pencil"></i> {{ejercicio.titulo | truncate:35}}</li>
                          <li><i class="glyphicon glyphicon-user"></i> {{ejercicio.autor}}</li>     
                        </ul>
                      </div>
                    
                    <div class="col-md-6">
                      <ul>
                        <li><i class="glyphicon glyphicon-tags"></i> {{ejercicio.tipo}}</li>
                        <li><i class="glyphicon glyphicon-signal"></i> {{ejercicio.nivel}}</li>
                      </ul>
                    </div>
                  </div>
                  </div>

                  <div class="col-sm-2 botones-lista">
                      <i class="glyphicon glyphicon-info-sign" id="info-ejer" (click)="showEjercicio(ejercicio)"></i>
                      <i *ngIf="user._id == ejercicio.id_profesor" class="glyphicon glyphicon-cog" id="modificar-ejer" (click)="abrirModEjercicio(ejercicio)"></i>
                      <i *ngIf="user._id == ejercicio.id_profesor" class="glyphicon glyphicon-trash" id="borrar-ejer" (click)="abrirBorrarEjercicio(ejercicio)"></i>
                  </div>
                </div>
              </div>
            
          </div>

          <div class="row" *ngIf="mostrarListaActs">
         
              <div class="col-md-12 act-lista animated fadeInLeft" *ngFor="let actividad of pagedItemsActs; let i=index" [ngClass]="{modActividad:actividad.marcado}">
                <div class="row">
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-md-6">
                        <ul>
                          <li><i class="glyphicon glyphicon-pencil"></i> {{actividad.titulo | truncate : 25}}</li>
                          <li><i class="glyphicon glyphicon-user"></i> {{actividad.profesor}}</li>     
                        </ul>
                      </div>
                    
                    <div class="col-md-6">
                      <ul>
                        <li><i class="glyphicon glyphicon-calendar"></i> {{actividad.fecha_creacion | date : 'dd/mm/yyyy'}}</li>
                        <li><i class="glyphicon glyphicon-signal"></i> {{actividad.nivel}}</li>
                      </ul>
                    </div>
                  </div>
                  </div>

                  <div class="col-sm-2 botones-lista">
                      <i class="glyphicon glyphicon-info-sign" id="info-act" (click)="showActividad(actividad)"></i>
                      <i *ngIf="!actividad.marcado" data-toggle="tooltip" data-placement="left" title="cargar modificacion" class="glyphicon glyphicon-cog" id="modificar-act" (click)="cargarModificacion(actividad)"></i>
                      <i *ngIf="actividad.marcado" data-toggle="tooltip" data-placement="left" title="cargar modificacion" class="glyphicon glyphicon-cog" id="modificar-act-cancel" (click)="cancelarModificacionActividad()"></i>
                      <i class="glyphicon glyphicon-trash" id="borrar-act" (click)="abrirBorrarActividad(actividad)"></i>
                  </div>
                </div>
              </div>
            
          </div>

          <div class="row" *ngIf="mostrarListaEjers">
            <div class="col-sm-12">
              <!-- pager -->
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPageEjers(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPageEjers(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPageEjers(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPageEjers(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPageEjers(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row" *ngIf="mostrarListaActs">
            <div class="col-sm-12">
              <!-- pager -->
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPageActs(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                  <a (click)="setPageActs(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPageActs(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPageActs(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a (click)="setPageActs(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        

        <div class="col-md-4 col-sm-4 panel-actividad animated aparecer" *ngIf="mostrarListaEjers">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-center">Seleccion para actividad</h4>
            </div>
          </div>

          <div class="row"> 
            <div class="col-md-12 listado-actividad">
              <ul>
                <li *ngFor="let ejer of actividad" class="animated fadeInLeft">
                  <i class="glyphicon glyphicon-pencil"></i> <span>{{ejer.titulo | truncate : 5}}</span>
                  <i class="glyphicon glyphicon-tags"></i> <span>{{ejer.tipo}}</span>
                  <i class="glyphicon glyphicon-signal"></i> <span id="last">{{ejer.nivel}}</span>
                  <i class="glyphicon glyphicon-remove" (click)="descartarEjer($event, ejer._id)"></i>
                </li>
              </ul>
              <div class="opciones-actividad">
                <a (click)="vaciarLista()">Vaciar lista</a>
                <a (click)="crearActividad()">Crear</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 col-sm-4 panel-actividad animated aparecer" *ngIf="mostrarListaActs">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-center">Modificar actividad</h4>
            </div>
          </div>

          <div class="row"> 
            <div class="col-md-12 listado-actividad">
              <ul>
                <li draggable="true" droppable="true" *ngFor="let ejer of modActividad.ejercicios, let i=index" [dragData]="i" (onDrop)="dropEjercicio($event, ejer,i)" class="animated aparecer">
                  <i class="glyphicon glyphicon-pencil"></i> <span>{{ejer.titulo | truncate : 5}}</span>
                  <i class="glyphicon glyphicon-tags"></i> <span>{{ejer.tipo}}</span>
                  <i class="glyphicon glyphicon-signal"></i> <span id="last">{{ejer.nivel}}</span>
                  <i class="glyphicon glyphicon-remove"></i>
                </li>
              </ul>
              <div class="opciones-actividad">
                <a (click)="cancelarModificacionActividad()">cancelar</a>
                <a>Siguiente paso</a>
              </div>
            </div>
          </div>
        </div>
   

  </div>

  <!-- modal mostrar ejercicio -->
  <div style="background: rgba(63,63,61,0.8);" (click)="hideEjercicio()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalEjercicio ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div *ngIf="ejerAbrir != null" class="modal-header">
          Titulo: {{ejerAbrir.titulo}}
        </div>
        <div *ngIf="ejerAbrir != null" class="modal-body">
          <p>Autor: {{ejerAbrir.autor}}</p>
          <p>Nivel: {{ejerAbrir.nivel}}</p>
          <p>Tipo: {{ejerAbrir.tipo}}</p>
          <p>Enunciado: {{ejerAbrir.enunciado}}</p>
          <p>Frase a traducir: {{ejerAbrir.fraseATraducir}}</p>

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

  <!-- modal crear actividad -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalActividad ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Completar datos de la actividad</h4>
          </div>
          <div class="modal-body">
            <div class="form-nueva-actividad" *ngIf="nuevaActividad != null">
              <input type="text" class="form-control"  placeholder="Titulo de actividad" name="titulo" #titulo="ngModel" [(ngModel)]="nuevaActividad.titulo">
              <label for="power">Nivel</label>
              <select class="form-control" name="nivel" #nivel="ngModel" 
                  required
                  [(ngModel)]="nuevaActividad.nivel">
                <option value="Bajo">Bajo</option>
                <option value="Medio">Medio</option>
                <option value="Avanzado">Avanzado</option>
              </select>

              <div>
                <label>
                  <input #visible [(ngModel)]="nuevaActividad.visible" type="checkbox" data-toggle="toggle">Visible
                </label>
              </div>
             

              <div>
                <label>
                <input #propuesta [(ngModel)]="nuevaActividad.propuesta" type="checkbox" data-toggle="toggle">Propuesta
              </label>
              </div>
              
              <div [ngStyle]="{'display': nuevaActividad.propuesta ? 'block' : 'none'}">
                <label for="">Fecha de fin </label>
                <input type="date" name="fecha-fin" [(ngModel)]="nuevaActividad.fecha_prop_fin" useValueAsDate>
              </div>
              

            </div>
            
          </div>
          <div class="modal-footer">
            <button (click)="cancelarActividad()" class="btn">Cancelar</button>
            <button (click)="guardarActividad()" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </div>
  </div>


  <!-- modal borrar ejercicio -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalBorrarEjercicio ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4><i class="glyphicon glyphicon-trash"></i>Borrar ejercicio</h4>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro que desea borrar este ejercicio?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="borrarEjercicio()">Aceptar</button>
          <button class="btn btn-danger" (click)="cerrarBorrarEjercicio()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- modal modificar ejercicio -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalModEjer ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="background: #f7e26f;">
          <h4><i class="glyphicon glyphicon-cog"></i> Modificar ejercicio</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control"  placeholder="Titulo..." name="titulo" #titulo="ngModel" [(ngModel)]="ejerUpdate.titulo">

              <div class="row" style="margin-top: 30px">
                <div class="col-md-6" >
                  <label for="power">Nivel</label>
                  <select class="form-control" id="nivel"
                      required
                      [(ngModel)]="ejerUpdate.nivel" name="nivel"
                      #nivel="ngModel" >
                  <option *ngFor="let niv of niveles" [value]="niv">{{niv}}</option>
                  </select>
                  <div [hidden]="nivel.valid || nivel.pristine" class="alert alert-danger">
                  Nivel requerida
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="power">Tipo</label>
                  <select class="form-control" id="tipo"
                      required
                      [(ngModel)]="ejerUpdate.tipo" name="tipo"
                      #tipo="ngModel" >
                  <option *ngFor="let tip of tipos" [value]="tip">{{tip}}</option>
                  </select>
                  <div [hidden]="tipo.valid || tipo.pristine" class="alert alert-danger">
                  Tipo requerido
                  </div>
                </div>
              </div>

              <label style="margin-top: 25px" for="enunciado">Enunciado</label>
              <textarea class="form-control" placeholder="Enunciado..." name="enunciado" #enunciado="ngModel" [(ngModel)]="ejerUpdate.enunciado"> </textarea>
            </div>

            <div class="col-md-4">
              <label for="fraseATraducir">Frase a traducir</label>
              <textarea (blur)="aplicaValoresLogicos()" [style.visibility]="(ejerUpdate.tipo > 1) ? 'hidden' : 'visible' "  class="form-control animated aparecer" placeholder="Frase a traducir..." name="fraseATraducir" #fraseATraducir="ngModel" [(ngModel)]="ejerUpdate.fraseATraducir"> </textarea>
            
              <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                  <label for="power">Tipo</label>
                  <select class="form-control" id="tipoLogico" name="tipoLogic" [(ngModel)]="tipoLogico"
                      #tipoLogic="ngModel" >
                  <option value="Verbo">Verbo</option>
                  <option value="Nominativo">Nominativo</option>
                  <option value="Acusativo">Acusativo</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="power">Valor</label>
                  <select class="form-control" id="valorLogico" name="valorLogic" [(ngModel)]="valorLogico"
                      #valorLogic="ngModel" >
                  <option *ngFor="let palabra of valoresLogico" [value]="palabra">{{palabra}}</option>
                  </select>

                  <!--<input type="text" class="form-control"  placeholder="" name="valorLogico" #titulo="ngModel" [(ngModel)]="valorLogico">-->
                </div>

                <div class="col-md-2" style="padding-top: 24px; margin-left: -20px !important;">
                  <a class="btn btn-success" (click)="addFLogico()"><i class="glyphicon glyphicon-plus"></i></a>
                </div>
              </div>

            </div>

            <div class="col-md-4">

              <label for="fLogico">Solucion en F.lógico</label>
              <textarea class="form-control" placeholder="Solución en formato lógico..." name="solucionFLogico" #solucionFLogico="ngModel" [(ngModel)]="ejerUpdate.solucionFLogico"> </textarea>
            

              <label style="margin-top: 10px" for="fPatron">Solución F.patrón</label>
              <textarea (keypress)="addSeparator($event)" class="form-control" placeholder="Solución en formato patrón..." name="solucionFPatron" #solucionFPatron="ngModel" [(ngModel)]="ejerUpdate.solucionFPatron"> </textarea>
            
              <label style="margin-top: 20px" *ngIf="ejerUpdate.tipo <= 1 " for="">Solución posible en Español</label>
              <label style="margin-top: 20px" *ngIf="ejerUpdate.tipo > 1 " for="">Solución posible en Latin</label>
              <textarea *ngIf="ejerUpdate.tipo <= 1 " class="form-control animated aparecer" placeholder="Solución posible en Español..." name="solucionPEspanol" #solucionPEspanol="ngModel" [(ngModel)]="ejerUpdate.solucionPEspanol"> </textarea>
				    	<textarea *ngIf="ejerUpdate.tipo > 1" class="form-control animated aparecer" placeholder="Solución posible en Latin..." name="solucionPLatin" #solucionPLatin="ngModel" [(ngModel)]="ejerUpdate.solucionPLatin"> </textarea>
				
            </div>

          </div>
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="updateEjercicio()">Aceptar</button>
          <button class="btn btn-danger" (click)="cerrarUpdateEjercicio()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>


<!-- modal para mensajes -->
<div (click)="cerrarModalMessage()" style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
      [ngStyle]="{'display': modalMessage ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog modal-xs">
    <div class="modal-content">
      <div class="modal-body" style="background: #f7e26f; color: #333; font-size: 16px">
        <p class="text-center">{{message}}</p>
      </div>
    </div>
  </div>
</div>



<!-- modal mostrar actividad -->
  <div style="background: rgba(63,63,61,0.8);" (click)="hideActividad()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalVerActividad ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg" style="width: 90% !important">
      <div class="modal-content modal-ver-actividad">
        <div *ngIf="actAbrir != null" class="modal-header">
          <h3> {{actAbrir.titulo}}</h3>        
        </div>

        <div *ngIf="actAbrir != null" class="modal-body">
          <div class="row">

            <div class="col-md-3 datos-ver-actividad">
              <ul>
                <li><label><i class="glyphicon glyphicon-user"></i> Autor </label> {{actAbrir.profesor}}</li>
                <li><label><i class="glyphicon glyphicon-signal"></i> Nivel </label> {{actAbrir.nivel}}</li>
                <li *ngIf="actAbrir.visible"><label><i class="glyphicon glyphicon-eye-open"></i> Visible </label> Si</li>
                <li *ngIf="!actAbrir.visible"><label><i class="glyphicon glyphicon-eye-close"></i> Visible </label> No</li>
                <li><label><i class="glyphicon glyphicon-calendar"></i> Creacion </label> {{actAbrir.fecha_creacion | date: 'dd/mm/yyyy'}} </li>
                <li *ngIf="actAbrir.propuesta"><label><i class="glyphicon glyphicon-calendar"></i> Propuesta </label> {{actAbrir.fecha_prop_fin | date: 'dd/mm/yyyy'}} </li>
              </ul>

            </div>

            <div class="col-md-9 ejercicios-ver-actividad">
              <h4>Ejercicios</h4>

              <table class="table table-striped table-hover">
                 <thead>
                  <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Tipo</th>
                    <th>Nivel</th>
                    <th>Enunciado</th>
                    <th>Frase</th>
                    <th>Creacion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ej of actAbrir.ejercicios, let i = index">
                    <td>{{i}}</td>
                    <td>{{ej.titulo}}</td>
                    <td>{{ej.autor}}</td>
                    <td>{{ej.tipo}}</td>
                    <td>{{ej.nivel}}</td>
                    <td>{{ej.enunciado}}</td>
                    <td>{{ej.fraseATraducir}}</td>
                    <td>{{ej.fechaCreacion | date:'dd/mm/yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>



</div>

		

