<cabecera-alumno></cabecera-alumno>

<div class="row">
    <div class="col-md-3">
        <ol class="breadcrumb" style="width: 230px">
            <li><a routerLink="/alumno">Alumno</a></li>
            <li class="active">Resolver actividad</li>
        </ol>
    </div>

    <div class="col-md-5">
        <div class="info-actividad">
            <h3 class="text-center">Actividad: toma de contacto</h3>
            <ul class="text-center">
                <li><i class="glyphicon glyphicon-signal"></i> Medio</li>
                <li><i class="glyphicon glyphicon-user"></i> Antonio Sarasa</li>
            </ul>
        </div>
      
        
    </div>

    <div class="col-md-4">

            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'">
                    {{progreso}}%
                </div>
            </div>

            <div class="nota-final animated aparecer" *ngIf="progreso == 100">
                <p>Has obtenido una nota de {{calificacionFinal}} sobre {{actividad.length}}</p>
            </div>
        
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-2 resolver"> 
        <div class="row">
            <div class="col-md-2" style="padding-right: 0px;">
                <div class="panel-resolver-fichas">
                    <h4>Fichas</h4>
                    
                    <img (click)="clickMonovalente($event)" src="../../assets/images/triangulo_monovalente.png" alt="monovalente" class="img-responsive"> 
                    <img (click)="clickBivalente($event)" src="../../assets/images/triangulo_bivalente.png" alt="monovalente" class="img-responsive">    
                    <img (click)="clickTrivalente($event)" src="../../assets/images/triangulo_trivalente.png" alt="monovalente" class="img-responsive">
                    <img (click)="clickAmarilla($event)" src="../../assets/images/pentagono_amarillo.png" alt="monovalente" class="img-responsive"> 
                    <img (click)="clickAzul($event)" src="../../assets/images/pentagono_azul.png" alt="monovalente" class="img-responsive">    
                    <img (click)="clickNaranja($event)" src="../../assets/images/pentagono_naranja.png" alt="monovalente" class="img-responsive">
                    <img (click)="clickRoja($event)" src="../../assets/images/pentagono_rojo.png" alt="monovalente" class="img-responsive">
                    <img (click)="clickVerde($event)" src="../../assets/images/pentagono_verde.png" alt="monovalente" class="img-responsive">                       
                </div>
            </div>

            <div class="col-md-10">
                <div class="panel-resolver-centro">
                    <div class="enunciado">
                        <p><span><i class="glyphicon glyphicon-pencil"></i></span> {{actividad[ejerSel].enunciado}}</p>
                    </div>

                    <div class="frase-traducir animated fadeInLeft">
                        <p><span class="label label-default" *ngFor="let palabra of fraseSplit" (click)="clickPalabra($event,palabra)">{{palabra}}</span></p>
                    </div>

                    <div class="solucion">
                        <input type="text" placeholder="Traduce la frase" [(ngModel)]="respuesta">
                        <button class="btn btn-default" [disabled]="respuesta.length == 0" (click)="calificar()">Calificar</button>
                    </div>

                    <div *ngIf="calificaciones[ejerSel] != null" class="calificacion animated fadeInLeft">
                        <p *ngIf="calificaciones[ejerSel] != null">Nota: {{calificaciones[ejerSel]}}</p>
                        <p *ngIf="calificaciones[ejerSel] != null">{{msgCalificacion}}</p>
                    </div>
      
                </div>
            </div>    
        </div> 
    </div>

    <div class="col-md-4">
        <div class="panel-resolver-derecha">
            <div class="puzle">
                <img *ngIf="amarilla.activa" id="amarilla" src="../../assets/images/pentagono_amarillo.png" alt="monovalente" class="img-responsive" [ngStyle]="{'top': amarilla.top}">
                <img *ngIf="azul.activa" id="azul" src="../../assets/images/pentagono_azul.png" alt="monovalente" class="img-responsive">    
                <img *ngIf="naranja.activa" id="naranja" src="../../assets/images/pentagono_naranja.png" alt="monovalente" class="img-responsive">
                <img *ngIf="roja.activa" id="roja" src="../../assets/images/pentagono_rojo.png" alt="monovalente" class="img-responsive">
                <img *ngIf="verde.activa" id="verde" src="../../assets/images/pentagono_verde.png" alt="monovalente" class="img-responsive">   
                <img *ngIf="monovalente.activa" id="monovalente" value="hola" src="../../assets/images/triangulo_monovalente.png" alt="monovalente" class="img-responsive" [ngStyle]="{'top': monovalente.top}">
                <img *ngIf="bivalente.activa" id="bivalente" src="../../assets/images/triangulo_bivalente.png" alt="monovalente" class="img-responsive" [ngStyle]="{'top': bivalente.top}">    
                <img *ngIf="trivalente.activa" id="trivalente" src="../../assets/images/triangulo_trivalente.png" alt="monovalente" class="img-responsive" [ngStyle]="{'top': trivalente.top}">
            </div>
            
        </div>
    </div>

</div>

    

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="row pager-actividad">
            <div>
                <a *ngIf="anterior" (click)="anteriorEjer()"><i class="glyphicon glyphicon-circle-arrow-left" id="iAnterior"></i> {{actividad[ejerSel-1].titulo}}</a>
            </div>
            <div>
                <span>{{actividad[ejerSel].titulo}}</span>
            </div>
            <div>
                <a *ngIf="siguiente" (click)="siguienteEjer()">{{actividad[ejerSel+1].titulo}} <i class="glyphicon glyphicon-circle-arrow-right" id="iSiguiente"></i></a>
            </div>
        </div>
    </div>
</div>

    

