<cabecera-alumno></cabecera-alumno>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" style="width: 230px; background:#eee">
                    <li><a routerLink="/alumno">Alumno</a></li>
                    <li class="active">Resolver actividad</li>
                </ol>
            </div>
        </div>
        
    </div>

    <div class="col-md-5">
        <div class="info-actividad" *ngIf="actividad.length > 0">
            <h3 class="text-center">Actividad: {{infoActividad.titulo}}</h3>
            <ul class="text-center">
                <li><i class="glyphicon glyphicon-user"></i> {{infoActividad.profesor}}</li>
                <li><i class="glyphicon glyphicon-signal"></i> {{infoActividad.nivel}}</li>
                <li><i class="glyphicon glyphicon-calendar"></i> {{infoActividad.fecha_creacion | date : 'dd/mm/yyyy'}}</li>
            </ul>
        </div>
      
        
    </div>

    <div class="col-md-4">

            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'">
                    {{progreso | number:'2.0-0'}}%
                </div>
        
            </div>

            <div class="nota-final animated aparecer" *ngIf="progreso == 100">
                <p>Has obtenido una nota de {{calificacionFinal}} sobre {{actividad.length}}</p>
            </div>
        
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="botones-resolver">
            <ul>
                <li (click)="abrirModalDiccionario()"><i class="glyphicon glyphicon-search"></i> Abrir diccionario</li>
                <li (click)="abrirModalAyuda()"><i class="glyphicon glyphicon-question-sign"></i> Mostrar ayuda</li>
                <li (click)="abrirModalSalir()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar y salir</li>
            </ul>
        </div>
    </div>
    <div class="col-md-5 resolver"> 
        <div class="row">
            <div class="col-md-1" style="padding-right: 0px;">
                <div class="panel-resolver-fichas">
                    <h4>Fichas</h4>
                    <div data-toggle="tooltip" data-placement="left" title="monovalente">
                        <img draggable="true" [dragData]="'monovalente'" [dragOverClass]="'drag-ficha'" (click)="clickMonovalente($event)" src="../../assets/images/triangulo_monovalente.png" alt="monovalente" class="img-responsive" id="monovalente"> 
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="bivalente">
                        <img draggable="true" [dragData]="'bivalente'" (click)="clickBivalente($event)" src="../../assets/images/triangulo_bivalente.png" alt="monovalente" class="img-responsive">    
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="trivalente">
                        <img draggable="true" [dragData]="'trivalente'" (click)="clickTrivalente($event)" src="../../assets/images/triangulo_trivalente.png" alt="monovalente" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="-animado +definido">
                        <img draggable="true" [dragData]="'-animado +definido'" [dragOverClass]="'drag-ficha'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event)" src="../../assets/images/pentagono_amarillo.png" alt="amarilla" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="-animado -definido">
                        <img draggable="true" [dragData]="'-animado -definido'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event)" src="../../assets/images/pentagono_azul.png" alt="azul" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="+animado -humano">
                        <img draggable="true" [dragData]="'+animado -humano'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event)" src="../../assets/images/pentagono_naranja.png" alt="naranja" class="img-responsive">
                    </div>
                    
                    <div data-toggle="tooltip" data-placement="left" title="+animado +humano">
                        <img draggable="true" [dragData]="'+animado +humano'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event)" src="../../assets/images/pentagono_rojo.png" alt="roja" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="lugar">
                        <img draggable="true" [dragData]="'lugar'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event)" src="../../assets/images/pentagono_verde.png" alt="verde" class="img-responsive">                       
                    </div>
                </div>
            </div>

            <div class="col-md-10" *ngIf="actividad.length > 0">
                <div class="panel-resolver-centro">
                    <div class="enunciado">
                        <p><span><i class="glyphicon glyphicon-pencil"></i></span> {{actividad[ejerSel].enunciado}}</p>
                    </div>

                    <div class="frase-traducir animated fadeInLeft">
                        <p><span droppable="true" class="label label-default" [dragOverClass]="'drop-ficha-palabra'" *ngFor="let palabra of fraseSplit" (onDrop)="dropVerbo($event, palabra)" (click)="clickPalabra($event,palabra)" draggable="true" [dragData]="palabra">{{palabra}}</span></p>
                    </div>

                    <div class="solucion">
                        <input type="text" placeholder="Traduce la frase" [(ngModel)]="respuesta">
                        <button class="btn btn-default" [disabled]="respuesta.length == 0 || terminado" (click)="calificar()">Enviar</button>
                        <button class="btn btn-success animated aparecer" *ngIf="terminado" (click)="abrirModalSalir()">Terminar</button>
                    </div>

                    <div class="puzle">
                        <div id="central">
                            <img *ngIf="monovalente.activa" id="monovalente" src="../../assets/images/triangulo_monovalente.png" alt="monovalente" class="img-responsive" [ngStyle]="{'top': monovalente.top}">
                            <img *ngIf="bivalente.activa" id="bivalente" src="../../assets/images/triangulo_bivalente.png" alt="monovalente" class="img-responsive" [ngStyle]="{'top': bivalente.top}">    
                            <img *ngIf="trivalente.activa" id="trivalente" src="../../assets/images/triangulo_trivalente.png" alt="monovalente" class="img-responsive" [ngStyle]="{'top': trivalente.top}">

                            <div id="izq" (click)="quitaPentagono($event)" *ngIf="argumentos >= 2 && faseVerbo" droppable="true" [dragOverClass]="'drop-ficha-pentagono'" (onDrop)="dropPentagono($event, 'izquierda')">
                                <img class="img-responsive izquierda">
                            </div>
                                
                            <div id="superior" (click)="quitaPentagono($event)" *ngIf="argumentos >= 1 && faseVerbo" droppable="true" [dragOverClass]="'drop-ficha-pentagono'" (onDrop)="dropPentagono($event, 'superior')">
                                <img class="img-responsive superior">
                            </div>

                            <div id="der" (click)="quitaPentagono($event)" *ngIf="argumentos == 3 && faseVerbo"  droppable="true" [dragOverClass]="'drop-ficha-pentagono'" (onDrop)="dropPentagono($event, 'derecha')">
                                <img class="img-responsive derecha">
                            </div>  
                        </div>
                        
                    </div>
      
                </div>
            </div>    
        </div> 
    </div>

    <div class="col-md-4">
        <div *ngIf="solucion.calificaciones[ejerSel] != null" class="calificacion animated fadeInRigth">
            <p>Nota: {{solucion.calificaciones[ejerSel]}}</p>
            <p>Respuesta: {{solucion.respuestas[ejerSel]}}</p>
            <p>{{solucion.msgCalificaciones[ejerSel]}}</p>
        </div>
        
    </div>

</div>

    

<div class="row">
    <div class="col-md-4 col-md-offset-6">
        <div class="row pager-actividad">
            <div>
                <a *ngIf="anterior" (click)="anteriorEjer()"><i class="glyphicon glyphicon-circle-arrow-left" id="iAnterior"></i> anterior</a>
            </div>
            
            <div>
                <a *ngIf="siguiente" (click)="siguienteEjer()">siguiente <i class="glyphicon glyphicon-circle-arrow-right" id="iSiguiente"></i></a>
            </div>
        </div>
    </div>
</div>



  <!-- modal salir tras terminar -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalSalir ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>{{msgSalir}}</p>
        </div>
        <div class="modal-footer">
            <button (click)="cancelarModalSalir()" class="btn">Cancelar</button>
            <button (click)="guardarYSalir()" class="btn btn-success">Aceptar</button>
        </div>
      </div>
    </div>
  </div>


   <!-- modal diccionario -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalDiccionario ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4><i class="glyphicon glyphicon-book"></i> Bienvenido al diccionario Latin</h4>
        </div>  
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
            <button (click)="cancelarModalDiccionario()" class="btn">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalAyuda ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">  
        <div class="modal-body">
          Ayuda...
        </div>
        <div class="modal-footer">
            <button (click)="cancelarModalAyuda()" class="btn">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

    

