<cabecera-alumno></cabecera-alumno>

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb" style="width: 230px; background:#eee">
                    <li><a routerLink="/alumno"><i class="glyphicon glyphicon-home"></i> Panel principal</a></li>
                    <li class="active">Resolver</li>
                </ol>
            </div>
        </div>
        
    </div>

    <div class="col-md-5">
        <div class="info-actividad" *ngIf="actividad.length > 0">
            <h3 class="text-center">Actividad: {{infoActividad.titulo}}</h3>
            <ul class="text-center">
                <li><i class="glyphicon glyphicon-user"></i> {{infoActividad.profesor}}</li>
                <li><i class="glyphicon glyphicon-signal"></i> {{infoActividad.nivel}}</li>
                <li><i class="glyphicon glyphicon-calendar"></i> {{infoActividad.fecha_creacion | date : 'dd/MM/yyyy'}}</li>
            </ul>
        </div>
      
        
    </div>

    <div class="col-md-4">

            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"  aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'">
                    {{progreso | number:'2.0-0'}}%
                </div>
        
            </div>

            <div class="nota-final animated aparecer" *ngIf="progreso == 100">
                <p>Has obtenido una nota de {{calificacionFinal}} sobre {{actividad.length}}</p>
            </div>
        
    </div>
</div>


<div class="row">
    <div class="col-md-3">

        <div class="btn-group btn-lista-ejers">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lista de ejercicios ({{actividad.length}}) <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" *ngIf="actividad.length > 0">
                <li *ngFor="let ej of actividad; let i=index" [ngClass]="{'ejer-sel': i == ejerSel}" (click)="seleccionarEjer(i)"><a>{{i + 1}}# {{ej.titulo}} <i *ngIf="i == ejerSel" class="glyphicon glyphicon-hand-left"></i></a></li>
            </ul>
        </div>

        <div class="botones-resolver">
            <ul>
                <li id="siguiente-ejer" [ngClass]="{'ejer-disabled': siguiente == false}" (click)="siguienteEjer()">Siguiente <i class="glyphicon glyphicon-chevron-right"></i></li>
                <li id="anterior-ejer" [ngClass]="{'ejer-disabled': anterior == false}" (click)="anteriorEjer()"><i class="glyphicon glyphicon-chevron-left"></i> Anterior</li>
                <li (click)="abrirModalDiccionario()"><i class="glyphicon glyphicon-search"></i> Abrir diccionario</li>
                <li *ngIf="solucion.ejercicios[ejerSel] && solucion.ejercicios[ejerSel].calificacion >= 0" class="animated aparecer" (click)="abrirModalAyuda()"><i class="glyphicon glyphicon-question-sign"></i> Mostrar solucion</li>
                <li *ngIf="!terminado" (click)="abrirModalSalir()"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar y salir</li>
                <li *ngIf="terminado" id="terminar" class="animated aparecer" (click)="abrirModalSalir()"><i class="glyphicon glyphicon-floppy-disk"></i> Terminar</li>
            </ul>
        </div>
    </div>
    <div class="col-md-5 resolver"> 
        <div class="row">
            <div class="col-md-1" style="padding-right: 0px;">
                <div class="panel-resolver-fichas">
                    <h4>Fichas</h4>
                    <div data-toggle="tooltip" data-placement="left" title="monovalente">
                        <img draggable="true" [dragData]="'monovalente'" [dragOverClass]="'drag-ficha'" (click)="clickMonovalente($event)" src="../../assets/images/triangulo_monovalente.png" alt="monovalente" class="img-responsive" id="monovalente"> 
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="bivalente">
                        <img draggable="true" [dragData]="'bivalente'" (click)="clickBivalente($event)" src="../../assets/images/triangulo_bivalente.png" alt="monovalente" class="img-responsive">    
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="trivalente">
                        <img draggable="true" [dragData]="'trivalente'" (click)="clickTrivalente($event)" src="../../assets/images/triangulo_trivalente.png" alt="monovalente" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="-animado +definido">
                        <img draggable="true" [dragData]="'-animado +definido'" [dragOverClass]="'drag-ficha'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event, '#CAC834')" src="../../assets/images/pentagono_amarillo.png" alt="amarillo" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="-animado -definido">
                        <img draggable="true" [dragData]="'-animado -definido'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event, '#52BCCF')" src="../../assets/images/pentagono_azul.png" alt="azul" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="+animado -humano">
                        <img draggable="true" [dragData]="'+animado -humano'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event, '#89622F')" src="../../assets/images/pentagono_naranja.png" alt="naranja" class="img-responsive">
                    </div>
                    
                    <div data-toggle="tooltip" data-placement="left" title="+animado +humano">
                        <img draggable="true" [dragData]="'+animado +humano'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event, '#D33D3D')" src="../../assets/images/pentagono_rojo.png" alt="rojo" class="img-responsive">
                    </div>

                    <div data-toggle="tooltip" data-placement="left" title="lugar">
                        <img draggable="true" [dragData]="'lugar'" (click)="sacarFichas($event)" (onDragStart)="dragPentagono($event, '#52CF61')" src="../../assets/images/pentagono_verde.png" alt="verde" class="img-responsive">                       
                    </div>
                </div>
            </div>

            <div class="col-md-10" *ngIf="actividad.length > 0">
                <div class="panel-resolver-centro">
                    <div class="enunciado">
                        <p><span>Enunciado: </span> {{actividad[ejerSel].enunciado}} <i (click)="abrirModalExplicacion()" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Explicacion ejercicio"></i></p>
                    </div>

                    <div class="frase-traducir animated fadeInLeft">
                        <p><span droppable="true" class="label label-default" [dragOverClass]="'drop-ficha-palabra'" *ngFor="let palabra of fraseSplit; let i= index" [ngClass]="fraseSplit[i]" (onDrop)="dropVerbo($event, palabra)" (click)="clickPalabra($event,palabra)" draggable="true" [dragData]="palabra">{{palabra}}</span></p>
                    </div>

                    <div class="solucion">
                        <input *ngIf="solucion.ejercicios[ejerSel].respuesta == ''" type="text" placeholder="Traduce la frase" [(ngModel)]="respuesta">
                        <p *ngIf="solucion.ejercicios[ejerSel].respuesta != ''" class="animated aparecer"><span>Respuesta: </span>{{solucion.ejercicios[ejerSel].respuesta}}</p>
                        <button *ngIf="solucion.ejercicios[ejerSel].respuesta == ''" class="btn btn-default" [disabled]="respuesta.length == 0 || terminado" (click)="calificar()">Enviar</button>
                        <!--<button class="btn btn-success animated aparecer" id="terminar" *ngIf="terminado" (click)="abrirModalSalir()">Terminar</button>-->
                    </div>

                    <div class="puzle">
                        <div id="central">
                            <img *ngIf="monovalente.activa" id="monovalente" src="../../assets/images/triangulo_monovalente.png" alt="monovalente" class="img-responsive flash" [ngStyle]="{'top': monovalente.top}">
                            <img *ngIf="bivalente.activa" id="bivalente" src="../../assets/images/triangulo_bivalente.png" alt="monovalente" class="img-responsive flash" [ngStyle]="{'top': bivalente.top}">    
                            <img *ngIf="trivalente.activa" id="trivalente" src="../../assets/images/triangulo_trivalente.png" alt="monovalente" class="img-responsive flash" [ngStyle]="{'top': trivalente.top}">

                            <div id="izq" (click)="quitaPentagono($event)" *ngIf="argumentos >= 2 && faseVerbo" droppable="true" [dragOverClass]="'drop-ficha-pentagono'" (onDrop)="dropPentagono($event, 'izquierda')">
                                <img class="img-responsive izquierda">
                            </div>
                                
                            <div id="superior" (click)="quitaPentagono($event)" *ngIf="argumentos >= 1 && faseVerbo" droppable="true" [dragOverClass]="'drop-ficha-pentagono'" (onDrop)="dropPentagono($event, 'superior')">
                                <img class="img-responsive superior">
                            </div>

                            <div id="der" (click)="quitaPentagono($event)" *ngIf="argumentos == 3 && faseVerbo"  droppable="true" [dragOverClass]="'drop-ficha-pentagono'" (onDrop)="dropPentagono($event, 'derecha')">
                                <img class="img-responsive derecha">
                            </div>  
                        </div>
                        
                    </div>
                          
                </div>
            </div>    
        </div> 
    </div>

    <div class="col-md-4">
        <div id="diccionario-linea">
            <a href="http://repositorios.fdi.ucm.es/DiccionarioDidacticoLatin/" target="_blank">Diccionario en linea</a>
        </div>
        <div *ngIf="solucion.ejercicios[ejerSel] && solucion.ejercicios[ejerSel].respuesta != ''" class="calificacion animated fadeInRigth">
            <p *ngIf="solucion.ejercicios[ejerSel].calificacion >= 0">Nota: {{solucion.ejercicios[ejerSel].calificacion}}</p>
            <p *ngIf="solucion.ejercicios[ejerSel].respuesta != ''">Respuesta: {{solucion.ejercicios[ejerSel].respuesta}}</p>
            <p *ngIf="solucion.ejercicios[ejerSel].msgCalificacion != ''">{{solucion.ejercicios[ejerSel].msgCalificacion}}</p>
        </div>
        <div *ngIf="msgFichas != '' " class="respuesta-fichas animated fadeInRigth">
            <p>{{msgFichas}}</p>
        </div>
        
        
    </div>

</div>


  <!-- modal salir tras terminar -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalSalir ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>{{msgSalir}}</p>
        </div>
        <div class="modal-footer">
            <button (click)="cancelarModalSalir()" class="btn">Cancelar</button>
            <button (click)="guardarYSalir()" class="btn btn-success">Aceptar</button>
        </div>
      </div>
    </div>
  </div>


   <!-- modal diccionario -->
  <div style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalDiccionario ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-diccionario">
      <div class="modal-content">
        <div class="modal-header">
            <h4><i class="glyphicon glyphicon-book"></i> Bienvenido al diccionario Latin</h4>
        </div>  
        <div class="modal-body">
            <div class="dicc-lematizada">
                <p><label>Frase lematizada:</label> <span *ngFor="let palabra of fraseLematizadaSplit; let i= index" (click)="addBuscar(palabra)">{{palabra}}</span></p>
            </div>
            <div class="row" style="border-bottom: 1px solid lightgrey; padding-bottom: 10px;">
                <div class="col-md-5">
                    <input class="form-control" type="text" placeholder="Buscar palabra" [(ngModel)]="busquedaPalabra">
                </div>
                <div class="col-md-3">
                    <button (click)="buscarPalabra()" class="btn"><i class="glyphicon glyphicon-search"> Buscar</i></button>
                    <img *ngIf="buscandoPalabra" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="animated aparecer" *ngIf="(resultadoBusqueda | json) == '{}' || resultadoBusqueda == undefined">
                        
                    </div>
                    <div class="animated aparecer" *ngIf="(resultadoBusqueda | json) != '{}' && resultadoBusqueda != undefined">
                        <ul class="lema">
                            <li><label for="categoria">Lema </label><span> {{resultadoBusqueda.lema}}</span></li>
                            <li><label for="categoria">Categoria </label><span> {{resultadoBusqueda.categoria}}</span></li>
                        </ul>
                        
                        <div *ngIf="resultadoBusqueda.categoria == 'Sustantivo'"> <!-- Sustantivos -->
                            <div *ngFor="let sig of resultadoBusqueda.significado; let i=index " class="significados">
                                <ul>
                                    <li><label for="categoria">Significado {{i + 1}} </label><span> {{sig.significado}}</span></li>
                                    <li><label for="caracterizacion">Caracterizacion argumental </label><span> {{sig.caracArgumental}}</span></li>
                                </ul>

                            </div>
                        </div>

                        <div *ngIf="resultadoBusqueda.categoria == 'Verbo'"> <!-- Verbos -->
                            <div *ngFor="let sig of resultadoBusqueda.significado; let i=index " class="significados">
                                <ul>
                                    <li><label for="significado">Significado {{i + 1}} </label><span> {{sig.significado}}</span></li>
                                    <li *ngIf="sig.ejemplo != ''"><label for="significado">Ejemplo </label><span> {{sig.ejemplo}}</span></li>
                                    <li><label for="argumentos">Argumentos </label><span> {{sig.numArgumentos}}</span></li>
                                </ul>

                                <div class="row">
                                    <div class="col-md-9">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Numero</th>
                                                    <th>Tipo</th>
                                                    <th>Caracterizacion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let arg of sig.argumentos; let i= index">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{arg.numero}}</td>
                                                    <td>{{arg.tipo}}</td>
                                                    <td>{{arg.caracArgumental}}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div *ngIf="resultadoBusqueda.categoria == 'Adjetivo' || resultadoBusqueda.categoria == 'Adverbio' || resultadoBusqueda.categoria == 'Pronombre'  "> <!-- Verbos -->
                            <ul>
                                <li *ngFor="let s of resultadoBusqueda.significado; let i=index"><label for="significado">Significado {{i+1}} </label><span> {{s.significado}}</span></li>
                            </ul>
                        </div>
                        
                        
                    </div>
                        
                </div>    
            </div>    
            
          
        </div>
        <div class="modal-footer">
            <button (click)="cancelarModalDiccionario()" class="btn">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <div (click)="cancelarModalAyuda()" style="background: rgba(63,63,61,0.8);" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
        [ngStyle]="{'display': modalAyuda ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog">
      <div class="modal-content">  
        <div class="modal-body">
            <div *ngIf="actividad.length > 0">   
                <h4>{{actividad[ejerSel].solucionPEspanol}}</h4>
            </div>
         
        </div>
      </div>
    </div>
  </div>

    

