.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 0.9em;
    line-height:2em;
    color:#27292B;
    font-weight:700;
    position:relative;
    font-size: 16px;
    
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#F9F7F7;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#27292B;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#27292B;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

#tree1 li:hover{
	cursor: pointer;
}

#tree1 .badge-small{
	cursor: auto;
}

.ojo{
	top: 2px;
	left: 5px;
	/*color: rgba(119,119,119,1);*/
    color: #2e826e;
	cursor: pointer;
	font-size: 0.9em;
}

.ojo:hover{
	color: rgb(39, 41, 49);
}

.badge-small{
	font-size: 0.6em;
	/*background: rgba(39, 41, 49, 0.8);*/
    background: #2e826e;;
	margin-top: -3px;
}

/*.rama-actividades, .rama-actividades li, .rama-actividades .ojo{
    color:  rgba(12,141,150,1) !important;
}

.rama-actividades .badge-small {
    background: rgba(12,141,150,1) !important;

}*/
