/***********HACKS*********/
.clearfix{
	float: none;
	clear: both;
	text-decoration: none;
	list-style-type: none;
}

.sinpadding [class*="col-"] {
    padding: 0px !important;
    margin: 0px !important;
}
/***********FIN HACKS**************/

/***********ANIMACIONES***********/



/*********FIN ANIMACIONES***********/
.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}     
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}


@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(-40px);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-40px);
	}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes subir {
	0% {
		/*opacity: 1;*/
		-webkit-transform: translateY(0);
	}
	100% {
		/*opacity: 0;*/
		-webkit-transform: translateY(-35px);
	}
}
@keyframes subir {
	0% {
		/*opacity: 1;*/
		transform: translateY(0);
	}
	100% {
		/*opacity: 0;*/
		transform: translateY(-35px);
	}
}
.subir {
	-webkit-animation-name: subir;
	animation-name: subir;
}

@-webkit-keyframes aparecer {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes aparecer {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
.aparecer {
	-webkit-animation-name: aparecer;
	animation-name: aparecer;
} 
/*********HEADER PROFESOR**********/

.navbar-brand, .navbar-header span {
	color: #27292B !important;
}


.btn-nav-circle{
    transition: transform 0.3s;
    background-color: transparent !important;
}
.aling-cmp-nav {
	margin: 10px auto;
    padding: 4px 20px !important;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000 !important;
}
.navbar-default {
    background-color: #39a890;
	border-bottom: 1px solid #3b9b86;
}

.btn-crear-eje{
	background-color: #544f4f !important;
	color:white !important;
}


/********FIN HEADER PROFESOR************/


/*******PANEL PROFESOR ********/
.menu-profesor-arbol{
	padding-top: 30px !important;
}

.panel-ejercicios{
	/*background: red;*/
}

.panel-ejercicios h2{
	margin: 0px !important;
	margin-bottom:15px !important; 
}

.ejer-lista input[type=checkbox]{
	margin-top: 25px;
	width: 10px;
	height: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fafafa;
	padding: 9px;
	border-radius: 20px;
	display: inline-block;
	position: relative;
}

.ejer-lista input[type=checkbox]:checked{
	background-color: #3df4cd;
}

.ejer-lista input[type=checkbox]:hover{
	background-color: #3df4cd;
	cursor: pointer;
}

.ejer-lista input[type=checkbox]:focus{
	outline: none;
}



.ejer-lista input[type=checkbox]:checked:active, .ejer-lista input[type=checkbox]:active{
	border: none;
}

.ejer-lista{
	background: rgba(73, 68, 68,0.9);
	/*padding: 7px !important;*/
	border-radius: 10px;
	margin-bottom: 8px !important;
}

.ejer-lista ul{
	list-style-type: none;
	padding: 10px;
}

.ejer-lista ul li{
	color: white;
	font-size: 1em;
	margin-bottom:3px;
}

.ejer-lista .botones-lista{
	padding-top: 20px;
}

.pagination a{
	cursor: pointer;
}

.active a{
	background: #39a890 !important;
	border: 1px solid #39a890 !important;
}

.panel-actividad{
	top:57px;
}

.panel-actividad h4{
	background: #39a890;
	width: 350px;
	margin: 0 auto;
	padding: 7px;
	border-radius: 30px;
	color: white;

}


.panel-actividad .listado-actividad ul{
	background: #e0dede;
	width: 345px;
	margin: 0 auto !important;
	border-radius: 10px;
	padding: 7px;
	margin-top: 5px !important;
	min-height: 300px;
	border:1px solid #39a890;
}

.panel-actividad .listado-actividad ul li{
	list-style-type: none;
	background: #333;
	color: white;
	padding: 2px 5px 5px 5px;
	border-radius: 5px;
	margin-bottom: 4px;

}

.panel-actividad .listado-actividad ul li i{
	margin-right: 8px;
	margin-left: 5px;
}

.panel-actividad .listado-actividad ul li span{
	border-right: 1px solid;
	padding-right: 8px;
}

.panel-actividad .listado-actividad ul li span#last{
	border-right: none;
}

.panel-actividad .listado-actividad ul li .glyphicon-remove{
	color: #f43333;
	float: right;
	padding-top: 3px;
	font-size: 16px;
}

.panel-actividad .listado-actividad ul li .glyphicon-remove:hover{
	color: #f76262;
	cursor: pointer;
}

.panel-actividad .opciones-actividad{
	width: 335px;
	margin: 2px auto;
	border-radius: 4px;
	padding: 0 12px 0 12px;
}

.panel-actividad .opciones-actividad a{
	font-size: 16px;
	cursor: default; 
}

.panel-actividad .opciones-actividad a:last-child{
	float: right;
}
/*******FIN PANEL PROFESOR ********/

/********PANEL ALUMNO***************/

.info-actividad{
	border: 1px solid #eee;
	border-radius: 7px;
	padding: 5px 5px 0px 5px;
	background: #544f4f;
	color: white;
}

.info-actividad h3{
	margin-top: 5px;
}

.info-actividad ul{
	padding-left: 0px !important;
}

.info-actividad ul li{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;

}

.enunciado{
	color: #544f4f;
	padding: 8px 0px 0px 10px;
	font-size: 18px;


}

.enunciado span{
	font-size: 18px;
	font-weight: bold;
}

.enunciado i{
	margin-right: 5px;
	margin-left: 8px;
}


.pager-actividad div{
	font-size: 14px;
	display: inline-block;
	min-width: 100px;
	margin: 2px;
	padding: 8px;

}

.pager-actividad div:nth-child(2){
	color: #39a890;
	font-size: 16px;

}

.pager-actividad div a{
	cursor: pointer;
	color: #27292B;
}

.pager-actividad div a:hover{
	text-decoration: none;
}

.pager-actividad div a i{font-size: 30px;}

.pager-actividad div a i#iSiguiente{
	top: 7px;
	left: 5px;
}

.pager-actividad div a i#iAnterior{
	top: 7px;
	right: 5px;
}

.resolver{
	margin-top: 10px;
	padding: 15px;
	border-radius: 5px;
	/*border: 1px solid #39a890;*/
}

.panel-resolver{
	margin-top: 10px;
}

.panel-resolver-fichas{
	border: 1px solid #544f4f;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
	width:60px;
	margin-left: 20px;
}


.panel-resolver-fichas h4{
	text-align: center;
	background: #544f4f;
	margin-top: 0px;
	color: #e0dede;
	border-radius: 5px 5px 0px 0px;
	padding: 2px;
	font-size: 14px;
}

.panel-resolver-fichas img{
	margin: 0 auto;
	width: 30px;
	margin-top: 2px;
	cursor: pointer;
	-webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}

.panel-resolver-fichas img:hover{
	transform: rotate(45deg);
}


.panel-resolver-centro{
	margin-top: 10px;
}

.panel-resolver-derecha{
	/*border: 1px solid #27292B;*/
	width: 200px;
	float: left;
}

.frase-traducir{
	padding-left: 20px;
}

.frase-traducir p span{
	margin: 2px;
	font-size: 16px;
	background: #39a890;
	cursor: pointer;
	
}

.frase-traducir p span:hover{
	background:#f43333;
}

.solucion{
	margin-top: 25px;
}

.solucion input{
	margin-left: 20px;
	margin-top: 10px;
	width: 300px;
	height: 30px;
	padding: 7px;
	color: #555;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #5f7225;

}

.solucion input:focus, .solucion input:link{
	border:none;
	outline: 0;
	border-bottom: 2px solid #5f7225;
}

.solucion .btn-default{
	margin-left: 10px;
}

.solucion .btn-default:enabled{
	background:#5f7225;
	color: white;
	border: none;
	
}

.solucion .btn-default:link, .solucion .btn-default:focus{
	outline: 0;
}

.calificacion{
	background: #63b1ed;
    width: 480px;
    margin: 30px 15px 15px 15px;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    color: white;
	font-weight: bold;
}


.progress{
	width: 250px;
	height: 20px;
}

/*********FIN PANEL ALUMNO**********/


