/***********HACKS*********/
.clearfix{
	float: none;
	clear: both;
	text-decoration: none;
	list-style-type: none;
}

.sinpadding [class*="col-"] {
    padding: 0;
    margin: 0;
}
/***********FIN HACKS**************/

/***********ANIMACIONES***********/



/*********FIN ANIMACIONES***********/
.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}     
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
} 
/*********HEADER PROFESOR**********/

.navbar-brand, .navbar-header span {
	color: #27292B !important;
}


.btn-nav-circle{
    transition: transform 0.3s;
    background-color: transparent !important;
}
.aling-cmp-nav {
	margin: 10px auto;
    padding: 4px 20px !important;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000 !important;
}
.navbar-default {
    background-color: #39a890;
	border-bottom: 1px solid #3b9b86;
}

.btn-crear-eje{
	background-color: #544f4f !important;
	color:white !important;
}


/********FIN HEADER PROFESOR************/


/*******PANEL PROFESOR ********/
.menu-profesor-arbol{
	/*background: blue;*/
	font-size: 14px !important;
}

.panel-profesor{
	min-height: 300px;

}

.panel-ejercicios{
	/*background: red;*/
}

.panel-ejercicios > h2{
	/*background: red;*/
	margin: 0px !important;
	margin-bottom:4px !important; 
}

.ejer-lista{
	background: rgba(73, 68, 68,0.8);
	padding: 7px !important;
	border-radius: 4px;
	margin-bottom: 8px !important;
}

.ejer-lista ul{
	list-style-type: none;
}

.ejer-lista ul li{
	color: white;
	font-size: 1em;
}

.active a{
	background: #39a890 !important;
	border: 1px solid #39a890 !important;
}
/*******FIN PANEL PROFESOR ********/


