/******FONTS***********/
@import url('https://fonts.googleapis.com/css?family=Kurale');


h1, h2, h3, h4, .navbar-brand{
	font-family: 'Kurale', serif;
}

/*******FIN FONTS******/

/***********HACKS*********/
.clearfix{
	float: none;
	clear: both;
	text-decoration: none;
	list-style-type: none;
}

.sinpadding [class*="col-"] {
    padding: 0px !important;
    margin: 0px !important;
}

ol li a{cursor: pointer;}
/***********FIN HACKS**************/

/***********ANIMACIONES***********/



/*********FIN ANIMACIONES***********/

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOutRight {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  }
  @keyframes fadeOutRight {
  0% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  }


.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  } 

.fadeOut2 {
  -webkit-animation-name: fadeOut2;
  animation-name: fadeOut2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  
@-webkit-keyframes fadeOut2 {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut2 {
  0% {opacity: 1;}
  100% {opacity: 0;}
} 


.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  @-webkit-keyframes rotateIn {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, -200deg);
		transform: rotate3d(0, 0, 1, -200deg);
		opacity: 0;
	}
	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
  }

  @keyframes rotateIn {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, -200deg);
		transform: rotate3d(0, 0, 1, -200deg);
		opacity: 0;
	}
	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
  } 


.rotateOut {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @-webkit-keyframes rotateOut {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, 200deg);
		transform: rotate3d(0, 0, 1, 200deg);
		opacity: 0;
	}
  }
  
  @keyframes rotateOut {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		opacity: 1;
	}
	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate3d(0, 0, 1, 200deg);
		transform: rotate3d(0, 0, 1, 200deg);
		opacity: 0;
	}
  } 

.flash{
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes flash{
	0%, 50%, 100% {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}
  
@keyframes flash {
  	0%, 50%, 100% {
  		opacity: 1;
  	}

	25%, 75% {
  		opacity: 0;
  	}
}


.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}     
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRigth {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInRigth {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInRigth {
	-webkit-animation-name: fadeInRigth;
	animation-name: fadeInRigth;
}


@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(-40px);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-40px);
	}
}
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes subir {
	0% {
		/*opacity: 1;*/
		-webkit-transform: translateY(0);
	}
	100% {
		/*opacity: 0;*/
		-webkit-transform: translateY(-35px);
	}
}
@keyframes subir {
	0% {
		/*opacity: 1;*/
		transform: translateY(0);
	}
	100% {
		/*opacity: 0;*/
		transform: translateY(-35px);
	}
}
.subir {
	-webkit-animation-name: subir;
	animation-name: subir;
}

@-webkit-keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes aparecer {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.aparecer {
	-webkit-animation-name: aparecer;
	animation-name: aparecer;
}

/*********HEADER PROFESOR / ALUMNO**********/

body{
	background: #f9f7f7;
}

.menu-opciones{
	margin-right: 50px;
}

.navbar-brand, .navbar-header span {
	color: #27292B !important;
}


.btn-nav-circle{
    transition: transform 0.3s;
    background-color: transparent !important;
}
.aling-cmp-nav {
	margin: 10px auto;
    padding: 4px 20px !important;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000 !important;
}
.navbar-default {
    background-color: #6ab5a4;
	border-bottom: 1px solid #3b9b86;
}

.navbar-admin {
    background-color: #878787;
	border-bottom: 1px solid #4f4704;
}

.btn-crear-eje{
	background-color: #544f4f !important;
	color:white !important;
}

.logout a, .user-nav a{
	color: white !important;
	font-size: 14px;
}

.logout a:hover{
	color: #ccc !important;
}


.logo-cabecera{
	position: absolute;
	margin: 0 auto;
	display: inline-block;
	left: 40%;
}

.logo-cabecera img{
	width: 60px;
}

/********FIN HEADER PROFESOR************/


/*******PANEL PROFESOR ********/
.acciones-profesor{
	margin-left: 15px;
}

.acciones-profesor a{
	cursor: pointer;
}

.menu-profesor-arbol, .menu-alumno-arbol {
	padding-top: 30px !important;
}


.panel-ejercicios h2, .panel-actividades h2{
	margin: 0px !important;
	margin-bottom:15px !important; 
}

.ejercicio-add-cabecera{
	margin: 0;
	padding: 0;
}

.ejercicio-add-cabecera h3{
	margin: 0;
	padding: 0;
}

.ejer-lista input[type=checkbox], .act-lista input[type=checkbox]{
	margin-top: 25px;
	width: 10px;
	height: 10px;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fafafa;
	padding: 9px;
	border-radius: 20px;
	display: inline-block;
	position: relative;
}

.ejer-lista input[type=checkbox]:checked, .act-lista input[type=checkbox]:checked {
	background-color: #3df4cd;
}

.ejer-lista input[type=checkbox]:hover, .act-lista input[type=checkbox]:hover{
	background-color: #3df4cd;
	cursor: pointer;
}

.ejer-lista input[type=checkbox]:focus, .act-lista input[type=checkbox]:hover{
	outline: none;
}



.ejer-lista input[type=checkbox]:checked:active, .ejer-lista input[type=checkbox]:active, .act-lista input[type=checkbox]:checked:active
, .act-lista input[type=checkbox]:active{
	border: none;
}

.ejer-lista h4{
	color: white;
	/*margin-top: 7px;
	margin-bottom: 4px;*/
	margin: 0px;
	padding-top: 7px;
	padding-bottom: 5px;
	background: #aaa;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 0px 0px 5px 2px;
}

.act-lista h4, .sol-lista h4{
	color: white;
	/*margin-top: 7px;
	margin-bottom: 4px;*/
	margin: 0px;
	padding-top: 7px;
	padding-bottom: 5px;
	background: #5ec2c9;
	font-size: 16px;
	padding-left: 10px;
	border-radius: 0px 0px 5px 2px;
	margin-left: 20px;
}

.ejer-lista .ejer-user ul{
	padding-left:0px;
	padding-right: 0px; 
}

.act-lista .act-user{
	padding-left: 10px;
	padding-right: 0px;
}

.act-lista ul{
	margin-bottom: 5px;
}

.ejer-lista .ejer-user, .ejer-lista .ejer-nivel, .act-lista .act-nivel{padding-right: 0px;}

.ejer-lista .ejer-nivel ul, .act-lista .act-nivel ul{
	padding-left: 25px;
}

.ejer-lista, .act-lista, .sol-lista{
	background: rgba(73, 68, 68,0.9);
	/*padding: 7px !important;*/
	border-radius: 10px;
	margin-bottom: 15px !important;
}

.sol-lista{
	background: rgba(23,157,168,0.9);
}

.act-lista{
	background: rgba(23,157,168,0.9);
	transition: 0.2s linear;
}

.ejer-lista ul, .act-lista ul,  .sol-lista ul{
	list-style-type: none;
	padding: 10px;
	padding-bottom: 2px;
}

.ejer-lista ul li, .act-lista ul li, .sol-lista ul li{
	color: white;
	font-size: 1em;
	margin-bottom:3px;
}

.ejer-lista .botones-lista, .act-lista .botones-lista, .sol-lista .botones-lista{
	padding-top: 8px;
	padding-left: 0px;
	padding-right: 0px;
	

}

.ejer-lista .botones-lista a, .act-lista .botones-lista a, .sol-lista .botones-lista a{
	cursor: pointer;
}

.ejer-lista .botones-lista i, .act-lista .botones-lista i, .sol-lista .botones-lista i{
	cursor: pointer;
}

.botones-lista i{
	padding-right: 8px;
	font-size: 16px;
	float: right;
}

.botones-lista #info-ejer{
	color: #00c7ff;
}

.botones-lista #modificar-ejer, .botones-lista #modificar-act, .botones-lista #modificar-act-cancel{
	color: #f2c524;
}

.botones-lista #modificar-act-cancel{
	margin-top: 2px;
}

.botones-lista #borrar-ejer, .botones-lista #borrar-act{
	color: #680202;
}

.botones-lista #info-act{
	color: #02335b;
}

.pagination a{
	cursor: pointer;
}

.active a{
	background: #2EA7B0 !important;
	border: 1px solid #3399a0 !important;
}

.modActividad{
	background: #015156;
	margin-left:20px;
	transition: 0.2s linear; 
}

.panel-actividad{
	top:57px;
	margin-bottom: 50px;
}

.panel-actividad h4{
	background: #6ab5a4;
	width: 350px;
	margin: 0 auto;
	padding: 7px;
	border-radius: 30px;
	color: white;

}


.panel-actividad .listado-actividad ul{
	background: #e0dede;
	width: 345px;
	margin: 0 auto !important;
	border-radius: 10px 10px 0px 0px;
	padding: 7px;
	margin-top: 5px !important;
	min-height: 300px;
	border:1px solid #6ab5a4;
}

.panel-actividad .listado-actividad ul li{
	list-style-type: none;
	background: #333;
	color: white;
	padding: 2px 5px 5px 5px;
	border-radius: 5px;
	margin-bottom: 4px;
	cursor: move;
	box-sizing: border-box;

}

.panel-actividad .listado-actividad ul li i{
	margin-right: 8px;
	margin-left: 5px;
}

.panel-actividad .listado-actividad ul li span{
	border-right: 1px solid;
	padding-right: 8px;
}

.panel-actividad .listado-actividad ul li span#last{
	border-right: none;
}


.panel-actividad .listado-actividad ul li .glyphicon-remove{
	color: #f43333;
	float: right;
	padding-top: 3px;
	font-size: 16px;
}


.panel-actividad .listado-actividad ul li .glyphicon-remove:hover{
	color: #f76262;
	cursor: pointer;
}

.drop-ejer{
	
	background: rgba(12,156,89,0.2) !important;
}

.modificando{
	background: #8c7510 !important;
}

.borde-modificando ul{
	border: 1px solid #8c7510 !important;
}

.panel-actividad .opciones-actividad{
	width: 345px;
	margin: 1px auto;
	border-radius: 4px;
	padding: 0 12px 0 12px;
	background: #3b9b86;

}

.panel-actividad .opciones-actividad a{
	font-size: 16px;
	cursor: pointer;
	color: white; 
}

.opciones-actividad .opciones{
	padding-top: 5px;
	padding-bottom: 5px;	
}

.datos-update{
	padding-bottom: 20px;
}


.datos-update label{
	padding-top: 10px;
	color: #000;
	font-weight: normal;
}

.datos-update .chk-fechas{margin-top: 5px;}

.datos-update .chk-fechas label{
	padding-right: 15px;
}

.datos-update input, .datos-update select{
	background: #ddd;
	color: #025257;
	font-size: 16px;
}

.datos-update .fecha-fin label{
	margin-right: 7px;
}

.datos-update .btn-update-act{
	
	margin-top: 15px;
}

.add-ejercicio-tit h3{
	margin-top: -3px;
	margin-bottom: 2px;
}
.form-add-ejer{
	background: #6b6a6a;
	padding: 12px;
	color: white;
	width: 80%;
	margin: 0 auto;
	border-radius: 5px;
}

.form-add-ejer textarea{
	font-size: 14px;
}

.form-add-ejer>div>div{
	margin-top: 5px;
}

.form-add-ejer button, .form-add-ejer a{
	float: right;
	margin: 5px;
}

.modal-buscar-ejers .modal-body, .modal-buscar-acts .modal-body {background: #efefef;}

.modal-buscar-ejers label, .modal-buscar-acts label{color: #6d6c6c}

.modal-buscar-ejers input, .modal-buscar-ejers input[type= 'date'], .modal-buscar-acts input, .modal-buscar-acts input[type= 'date'] {
	margin-bottom: 15px;
}

.modal-buscar-ejers .modal-footer button:last-child, .modal-buscar-acts .modal-footer button:last-child {
	background: #6ab5a4;
}

.modal-buscar-ejers .modal-footer button:last-child:hover, .modal-buscar-acts .modal-footer button:last-child:hover{
	background: #79c6b4;
}

.modal-buscar-ejers .modal-footer button:first-child:hover, .modal-buscar-acts .modal-footer button:first-child:hover {
	background: #edeaea;
}

 .modal-buscar-acts .limpiar-filtro-acts{
	 margin-top: 15px;
	 
 }

 .modal-buscar-acts .limpiar-filtro-acts, .modal-buscar-ejers .limpiar-filtro-ejers{
	background: #a9e8ca;
 }

.ordenar-filtros{
	border: 1px solid #AAAAAA;
	display: inline-block;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 5px;
	background: white;
	margin-top: 2px;
}

.ordenar-filtros ul{
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

 .ordenar-filtros ul, .ordenar-filtros ul li{
	 display: inline-block;
 }

 .ordenar-filtros ul li{
	 cursor: pointer;
 }

 .ordenar-filtros ul li i{
	 padding-left: 4px;
 }
/*******FIN PANEL PROFESOR ********/

/********PANEL ALUMNO***************/

.info-actividad{
	/*border: 1px solid #777;*/
	border-radius: 7px;
	padding: 5px 5px 1px 5px;
	/*background: #F5F5F5;*/
	background: #c9d3d1;
	color: #5c5e5d;
}

.info-actividad h3{
	margin-top: 5px;
}

.info-actividad ul{
	padding-left: 0px !important;
}

.info-actividad ul li{
	display: inline;
	margin-left: 5px;
	margin-right: 5px;

}

.enunciado{
	color: #544f4f;
	padding: 8px 0px 0px 10px;
	font-size: 18px;


}

.enunciado span{
	font-size: 18px;
	font-weight: bold;
}

.enunciado i{
	margin-right: 5px;
	margin-left: 8px;
}

.resolver{
	padding: 15px;
	border-radius: 5px;
	/*border: 1px solid #6ab5a4;*/
}

.panel-resolver{
	margin-top: 10px;
}

.panel-resolver-fichas{
	border: 1px solid #544f4f;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-top: 30px;
	width:60px;
	margin-left: -10px;
}


.panel-resolver-fichas h4{
	text-align: center;
	background: #544f4f;
	margin-top: 0px;
	color: #e0dede;
	border-radius: 5px 5px 0px 0px;
	padding: 2px;
	font-size: 14px;
}

.panel-resolver-fichas>div{
	position: relative;	
	padding: 0px !important;;
	margin: 0px !important;
}

.panel-resolver-fichas img{
	margin: 0 auto;
	width: 30px;
	margin-top: 2px;
	cursor: pointer;
	-webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
	position: relative;
}

.panel-resolver-fichas img:hover{
	transform: rotate(45deg);
	cursor: move;
	
}


.panel-resolver-centro{
	margin-top: 10px;
}


.frase-traducir{
	padding-left: 20px;
}

.frase-traducir p span{
	margin: 2px;
	font-size: 16px;
	background:none;
	cursor: pointer;
	border: 1px solid #544f4f;
	color: #544f4f;
	display: inline-block;
	
}

.frase-traducir p span:hover{
	background:#979595;
	color: white;
}

.marcada{
	background:#979595 !important;
	border: none !important;
}

.acertada{
	background: #ccc !important;
	cursor: default !important;

}

.solucion{
	margin-top: 25px;
}

.solucion input{
	margin-left: 20px;
	margin-top: 10px;
	width: 260px;
	height: 30px;
	padding: 7px;
	/*color: #555;*/
	color: #63b1ed;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #63b1ed;
	background: #f9f7f7;

}

.solucion input:focus, .solucion input:link{
	border:none;
	outline: 0;
	border-bottom: 2px solid #63b1ed;
}

.solucion .btn-default{
	margin-left: 10px;
}

.solucion .btn-default:enabled{
	background:#63b1ed;
	color: white;
	border: none;
	
}

.solucion .btn-default:link, .solucion .btn-default:focus{
	outline: 0;
}

#terminar{
	background: #408940;
}

.calificacion{
	background: #74b5e8;
    /*width: 480px;*/
    /*margin: 18px 15px 15px 15px;*/
    padding: 5px 5px 2px 10px;
    border-radius: 10px 0px 0px 10px;
    color: white;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 5px;
	font-size: 14px;
}

.calificacion p{
	line-height: 16px;
}

.respuesta-fichas{
	background: #74b5e8;
    padding: 5px 5px 2px 10px;
    border-radius: 10px 0px 0px 10px;
    color: white;
	font-size: 14px;
}

.respuesta-fichas i{
	cursor: pointer;
	font-size: 10px;
	color: #e27878;
}

.progress{
	margin-top: 5px;
	width: 250px;
	height: 20px;
	margin-bottom: 7px;
}

.nota-final p{
	color: #5CB85C;
	font-weight: bold;
}

.puzle{
	position: relative;
	height: 150px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 5px;
}

.puzle #central{
	position: relative;
	display: inline-block;
	/*border: 1px solid black;*/
	top: 70px;
	left: 130px;
}

.puzle #izq{
	position: absolute;
	/*border: 1px solid red;*/
	top: 10px;
	width: 60px;
	height: 60px;
	left: -50px;

}

.puzle #superior{
	position: absolute;
	/*border: 1px solid red;*/
	top: -50px;
	width: 60px;
	height: 60px;
	left: 0px;
}

.puzle #der{
	position: absolute;
	/*border: 1px solid red;*/
	top: 10px;
	width: 60px;
	height: 60px;
	left: 50px;
}

.puzle img{
	width: 60px;
}

.drop-ficha-pentagono{
	border-radius: 50px;
	border: 2px dashed #aaa;
	
}

/*.panel-resolver-fichas img:hover + .sub-fichas{
	display: inline-block;
}*/

.izquierda{
	position: relative;
	transform: rotate(-47deg);
	top: 5px;
	left: 12px;
	z-index: -3;
}

.derecha{
	position: relative;
	transform: rotate(47deg);
	top: 5px;
	left: -10px;
	z-index: -3;
}

.superior{
	position: relative;
	z-index: -3;

}

.drag-ficha{
	cursor: move;
}

.drop-ficha-palabra{
	background:#979595 !important;
	border: none !important;
}

.resolver{
	padding-top: 0px;
	margin-top: 0px;
}



.btn-resolver{
	background: #4c4d4f;
	color: white;
	padding: 8px;
	margin-left: 30px;
	float: right;
}

.btn-resolver:hover{
	color: #ccc;
}

.btn-resolver-sol{
	background: #4c4d4f;
	color: white;
	padding: 3px;
	margin-left: 30px;
	float: right;
	margin-bottom: 2px;
}

.btn-ver-sol{
	color: #4c4d4f;
	float: right;
	margin-top: -5px;
	font-size: 16px;
	font-weight: bold;
	font-family: roboto;
}

.btn-ver-sol:hover{color: white;}

.btn-ver-sol i{
	padding-left: 2px;
	font-size: 12px;
	padding-top: 4px;
}

.btn-lista-ejers{
	margin-top: 40px;
}

.btn-lista-ejers button{
	margin-left: -3px;
	background: #6b4e00;
	color: white;
}

.btn-lista-ejers ul{
	background: #dee5e0;
}

.btn-lista-ejers ul li{
	cursor: pointer;
}

.btn-lista-ejers .ejer-sel a{
	font-weight: bold;
}


.botones-resolver{
	/*border: 1px solid #ccc;*/
	/*background: #99CC99;*/
	margin-left: -4px;
	border-radius: 0px 6px 6px 0px;
	padding: 5px 5px 10px 0px;
	 
}

.botones-resolver ul{
	list-style-type: none;
	padding: 0px;
	display: inline-block;
}

.botones-resolver ul li{
	background: #6b4e00;
	padding: 5px 5px 5px 48px;
	margin-bottom: 2px;
	border-radius: 0px 6px 6px 0px;
	color: white;
	font-size: 14px;
	cursor: pointer;
}

.botones-resolver ul li:hover{
	background: #935e0d;
}

.botones-resolver ul li:last-child{
	background: #c43333;
}

.botones-resolver ul li:last-child:hover{
	background: #c61919;
}

.ejer-disabled{
	cursor: not-allowed !important;
	background: #999897 !important;
}

.ejer-disabled:hover{
	background: none;
}

.modal-diccionario{ width: 70%;}

.modal-diccionario .modal-header{ background: #6ab5a4}

.modal-diccionario .modal-header h4 { padding: 0px;margin: 0px;}

.modal-diccionario .modal-body{
	min-height: 300px;
}

.modal-diccionario .modal-body .dicc-lematizada span{
	margin-right: 5px;
	cursor: pointer;
	text-decoration: underline;
	color: #5696af;
}

.modal-diccionario ul{ list-style-type: none; padding-left: 0px;}

.modal-diccionario ul label{ 
	background: #a3a1a1; 
	padding: 4px;
	border: none; 
	border-radius: 5px;
	outline: none;
}

.modal-diccionario .lema li{
	display: inline-block;
	margin-right: 15px;
	margin-top: 20px;
}



/*********FIN PANEL ALUMNO**********/

/*********PANEL ADMIN**********/

.opciones-admin{
	cursor: pointer;
	border: 1px solid #333;
	text-align: center;
	display: inline-block;
	padding: 40px;
	border-radius: 7px;
	background: #e8e8e8;
}

.opciones-admin:hover{
	background: #f2efef;
}

.opciones-admin img{
	margin: 0 auto;
}

.usu-registro{
	position: relative;
	background: #560303;
	margin-bottom: 5px;
	min-height: 50px;
	border-radius: 7px;
	color: white;
}

.usu-registro p, .usu-registro i{
	margin-top: 10px;
}

.usu-registro img{
	position: absolute;
	top: -6px;
	left: 30px;
}

 .usu-registro i{
	 font-size: 20px;
	 margin-right: 20px;
	 cursor: pointer;
 }

 .usu-registro i:hover{
	 color: #ccc;
 }

 .usu-registro .ver-info:hover{
	 cursor: pointer;
	 text-decoration: underline;
 }

 .user-info li{
	 list-style-type: none;
	 font-size: 18px;
	 margin-bottom: 5px;

 }

 .opciones-usuarios{
	 margin-top: 10px;
 }

 .opciones-usuarios .dropdown-menu{
	 z-index: 1000000;
 }

 .opciones-usuarios a{
	 cursor: pointer;
 }

 .cambiar-pass input{
	 margin-bottom: 5px;
 }

.modificar-usuario input{
	padding: 6px;
}
/*********FIN PANEL ADMIN**********/


/*********ES**********/


.modal-mensajes .modal-body{
	 background: #219FC4; 
	 color: white; 
	 font-size: 20px;
}

.mod-crear-actividad .modal-header{
	background: #3C9B86;
}

.mod-crear-actividad .modal-header h4{
	margin: 0px;
	color: white; 

}

.mod-crear-actividad .modal-body{
	background:  #f4f4f4;
}

.mod-crear-actividad .modal-body input, .mod-crear-actividad .modal-body select{
	margin-bottom: 15px;
	color: #111;
	font-size: 18px;
}

.mod-crear-actividad .modal-body select{
	width: 50%;
}

.mod-crear-actividad .modal-body input[type= 'date']{
	margin-left: 10px;
	border-radius: 4px;
}

.mod-crear-actividad .modal-footer .btn:first-child{
	background: #e87d89;
	color: white;
	border-color: #e26874;
}

.mod-crear-actividad .modal-footer .btn:last-child{
	background: #4da591;
	color: white;
	border-color: #3f8978;
}

.mod-crear-actividad .modal-footer{background: #f4f4f4;}


.modal-ver-actividad .modal-header{
	background: rgba(23,157,168,0.9);
	color: #015156;
	text-align: center;
}

.modal-ver-actividad .modal-header h3{margin: 0px;}

.datos-ver-actividad{
	background: rgba(23,157,168,0.3);
}

.datos-ver-actividad ul{
	list-style-type: none;
	padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px;
}

.ejercicios-ver-actividad h4{margin: 0px; color:rgba(23,157,168,1);} 

.mostrar-ejercicio .modal-header{
	background: #2EA7B1;
	font-size: 16px;
	text-align: center;
	color: #1A5856;	
}

.mostrar-ejercicio .modal-header h3{
	margin: 5px 0px 5px 0px;
}

.mostrar-ejercicio .modal-body ul{
	list-style-type: none;
}

.mostrar-ejercicio .modal-body ul li{
	margin-bottom: 5px;
}

.mostrar-ejercicio .modal-body ul li label{
	font-size: 16px;
}

.mod-borrar-ejer h4{
	font-size: 20px;
	color: #632E2E;
}

.mod-borrar-ejer p{
	font-size: 16px;
}

/*********FIN ES**********/


/*********  BUSCAR SOLUCIONES *************/

.buscar-filtro{
	padding: 15px;
	background: #878787;
	border-radius: 4px;
	margin-bottom: 5px;
	width: 100%;

}

.buscar-filtro label{color: white; font-size: 14px; margin-top: 7px; padding-bottom: 0px; margin-bottom: 0px;}

.buscar-filtro #porAlumnos{
	width: 70%;
}

.buscar-filtro .btn-limpiar{float: right; margin-top: 35px; margin-right: 15px;}

.buscar-filtro .btn-buscar{ float: right; background: #01C7FF; margin-top: 35px; color: white;}



.tags .tag{
	background: #01C7FF; 
	font-size: 12px;
	padding: 5px;
	margin: 4px 3px 0px 0px;
	border-radius: 4px;
	color: white;
}

.tags .tag i{
	cursor: pointer;
	margin-left: 4px;
	color: #db5c5c;
}

.buscar-filtro input[type=date]{border-radius: 5px;}

.panel-buscar-sol .listado-soluciones{
	margin-top: 55px;
}


.buscar-usuarios{
	margin-top: 60px;
	padding: 15px;
	background: #878787;
	border-radius: 4px;
	margin-bottom: 5px;
	width: 100%;
}





/********* FIN BUSCAR SOLUCIONES *************/

/********** DATOS SOLUCION *******************/

.datos-actividad{
	background: #e0e4e5;
	margin-left: 0px;
	padding: 10px;
	border-radius: 8px;
}

.datos-actividad h4{margin: 5px 0px 5px 10px; text-decoration: underline;}

.datos-actividad ul{
	padding-left: 10px;
}

.datos-actividad ul, .enlaces-ejers ul{list-style-type: none; padding-top: 0px;}

.enlaces-ejers{
	margin-left: 15px;
	padding: 0px 10px 10px 10px;
	border-radius: 4px;
}

.enlaces-ejers ul{margin: 0px; padding-left: 7px; border-left: 2px solid #333;}

.enlaces-ejers li{
	font-size: 14px;
	cursor: pointer;
	padding-top: 10px;
}

.enlaces-ejers span{
	font-size: 26px;
}

.enlaces-ejers li:nth-child(odd) {
    color: #08ad9f;
}
.enlaces-ejers li:nth-child(even) {
    color: #7ae2db;
}

.enlaces-ejers li:hover{color: #27292B;}

.enlaces-ejers i{ padding-left: 4px; font-size: 20px; }

.enlaces-ejers .glyphicon-hand-left{top:4px; }

.datos-solucion{
	border-radius: 5px;
}

.datos-solucion .enunciado{
	background: #444;
	color: #eff2f4;
	/*border-radius: 0px 24px 24px 0px;*/
	padding: 8px;
	margin-bottom: 15px;
}

.datos-solucion .notas-calificacion li span{font-size: 18px}
.datos-solucion .enunciado p, datos-solucion .notas-calificacion li {font-size: 16px; margin-bottom: 0px;}

.datos-solucion .enunciado p label{color: #7bc1f7; margin-bottom: 0px}
.datos-solucion .notas-calificacion li label{ margin-bottom: 0px; color:#444}


.datos-solucion .enunciado p:first-child{padding-left:15px; }
.datos-solucion .enunciado p:last-child{padding-right:15px; }

.datos-solucion .notas-calificacion{
	list-style-type: none;
	background: #74b5e8;
	color: white;
	border-radius: 20px 0px 0px 20px;
	width: 80%;
	float: right;
	padding: 8px;
	padding-left: 18px;
}

.datos-solucion .notas-calificacion li:first-child{ margin-bottom: 7px;}

.notas-calificacion input{
	background: #3f7793;
	width: 60px;
	border: none;
	outline: none;
	color: white;
	padding: 5px;
	border-radius: 8px;
}

.notas-calificacion i{
	margin-left: 12px;
	cursor: pointer;
	color: #0d3b5e;
}

.notas-calificacion #guardar-nota{
	color: #17773e;
}

.notas-calificacion #cancelar-nota{
	color: #8e0808;
}

.msgProfesor{
	background: #22f978;
	padding: 8px;
	margin-bottom: 15px;
	padding-top:0px;
	padding-left: 0px; 
}

.msgProfesor label{
	background: #17c65d;
	padding: 5px;
	margin-top: 7px;
}

.msgProfesor p{
	color: white;
	font-size: 22px;
	text-align: center;
}

.msgProfesor .input-valorar{
	background: #17c65d;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	width: 100%;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.msgProfesor .input-valorar:focus, .msgProfesor .input-valorar:active, .msgProfesor .input-valorar:link{
	border: none !important;
	/*outline: 1px solid 	#046629;*/
	outline: 0px;
} 

.msgProfesor button{
	float: right;
	margin-top: 8px;
	margin-left: 8px;
}


.msgProfesor button:hover{
	background: #ccc9c9;
}

.msgProfesor .btn-valorar{
	color: #04722e;
}

.msgProfesor .btn-cancel-val{
	color: #d30c0c
}

.msgProfesor .editar{
	padding-bottom: 3px;
	
}

.msgProfesor .editar i{
	text-align: right;
	font-size: 14px;
	color: #08a547;
	cursor: pointer;
	margin-top: 7px;
	margin-left: 10px;
}

/**********FIN DATOS SOLUCION *******************/


.paginador ul{
	float: right;
	z-index: 1;
}
